
{% include "admin/base/base_bread.html" %}

        <!-- Main content -->
        <section class="content">
          {% include "admin/base/base_messages.html" %}
          <div class="row">
            <div class="col-md-6">
            <a data-pjax href="{{ reverse_url('defaultset.env_info.add') }}" class="btn btn-primary btn-block margin-bottom">添加新环境</a>
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">资源环境列表</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  {#
                  <ul class="nav nav-pills nav-stacked">
                    {% for env in env_list_res.data %}
                    <li name="env_{{ env.id }}"><a data-pjax href="{{ reverse_url('defaultset.env_info.edit', env.id) }}"><i class="fa fa-inbox"></i> {{ env.name }}
                    <span class="pull-right">
                    <span class="label label-{% if env.env_internet_ip_types|length > 0 %}primary{% else %}default{% endif %} ">{{ env.env_internet_ip_types|length }}</span>
                    <span class="label label-{% if env.env_resource_value %}primary{% else %}default{% endif %} "><i class="fa fa-info"></i> {% if env.env_resource_value %}已设定{% else %}未设定{% endif %}</span>
                    <span class="label label-{% if env.env_resource_fee %}primary{% else %}default{% endif %} "><i class="fa fa-cny"></i> {% if env.env_resource_fee %}已设定{% else %}未设定{% endif %}</span>
                    </span>
                    </a></li>
                    {% endfor %}
                    <!--li><a href="mailbox.html"><i class="fa fa-inbox"></i> Inbox <span class="label label-primary pull-right">12</span></a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
                    <li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
                    <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li-->
                  </ul>
                  #}
                <form data-pjax id="env_res_form" action="{{ reverse_url('defaultset.env_info.del') }}">
                  {{ handler.xsrf_form_html() }}
                  <ul class="todo-list" id="env_list_res">
                    {% for env in env_list_res.data %}
                    <li{% if env_res and env_res.data.id == env.id %} class="done"{% endif %}>
                      <!-- drag handle -->
                      <!-- todo text -->
                      <input type="checkbox" id="env_{{ env.id }}" value="{{ env.id }}" name="env_id" onclick="check_done('{{ env.id }}')"{% if env_res and env_res.data.id == env.id %} checked{% endif %}>
                      <span class="text">{{ env.name }}</span>
                      <!-- Emphasis label -->
                      <a data-pjax href="{{ reverse_url('defaultset.env_internet_ip.list', env.id) }}"><span class="label label-{% if env.env_internet_ip_types|length > 0 %}primary{% else %}default{% endif %} ">{{ env.env_internet_ip_types|length }}</span></a> &nbsp;
                      <span class="label label-{% if env.env_resource_value %}primary{% else %}default{% endif %} "><i class="fa fa-info"></i> {% if env.env_resource_value %}已设定{% else %}未设定{% endif %}</span> &nbsp;
                      <span class="label label-{% if env.env_resource_fee %}primary{% else %}default{% endif %} "><i class="fa fa-cny"></i> {% if env.env_resource_fee %}已设定{% else %}未设定{% endif %}</span>
                      <!-- General tools such as edit or delete-->
                      <div class="tools">
                        <!-- tools -->
                        <a data-pjax href="{{ reverse_url('defaultset.env_info.edit', env.id) }}"><i class="fa fa-edit"></i></a>
                        <a data-pjax href="javascript:;" onclick="do_del_env()"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </li>
                    {% endfor %}
                    <!-- li -->
                    <li id="li-btns" style="display: none">
                        <!-- li -->
                        <a id="env_list_edit_btn" data-pjax href="{{ reverse_url('defaultset.env_info.edit_info') }}" class="btn btn-success">编辑</a>
                        <a data-pjax id="env_res_del_btn" href="javascript:;" onclick="do_del_env();" class="btn btn-danger">删除</a>
                    </li>
                  </ul>
                </form>
                </div><!-- /.box-body -->
                  {#% include "admin/base/base_paginator.html" %#}
              </div><!-- /. box -->
            </div><!-- /.col -->
            <div class="col-md-6">
            {% block edit_content %}
            {% endblock %}
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
        <script type="text/javascript">
        function check_done(env_id){
          var _this = $("#env_"+env_id)
          console.log(_this)
          if(_this.prop("checked")){
            _this.parent().addClass("done");
          }else{
            _this.parent().removeClass("done");
          }
          var checked_values = $getCheckValues("#env_list_res")
          console.log(checked_values)
          if (checked_values.length > 0){
            if (checked_values.length == 1){
              $("#env_list_edit_btn").css("display", "")
              var href = "{{ reverse_url('defaultset.env_info.edit_info') }}" + "?env_id=" + checked_values[0]
              $("#env_list_edit_btn").attr("href", href)
            }else{
              $("#env_list_edit_btn").css("display", "none")
            }
            $("#li-btns").css("display", "");
          }else{
            $("#li-btns").css("display", "none");
          }
        }
        function do_del_env(){
          var checked_values = $getCheckValues("#env_list_res")
          var names = []
          for(var i in checked_values){
            names.push($("input[id=env_"+checked_values[i]+"]").next().text());
          }
          confirmBox({
              message: "确定删除环境"+names.join("、")+"设置吗？",
              onConfirm: function(){
                generate_ajax_post({
                    form: "#env_res_form",
                    method: "DELETE",
                    button: "#env_res_del_btn",
                    onSuccess: function(response){
                      $("#confirmBox").tClose()
                    }
                })
              }
          })
        }
        {% if env_res %}
          $(function(){
              init_status()
              check_done()
          })
          function init_status(){
            var env_id = "{{ env_res.data.id }}";
            $("li[name=env_"+env_id+"]").addClass("active");
          }
        {% endif %}
        </script>
