
{% macro get_pro_info_select(pro_res=None, pro_id=0, onchange="function(){}") %}
<div class="form-group select2{% if pro_res and pro_res.return_code in [ERR.PRO_NAME_EMPTY_ERR, RES_APPLY_ID_EMPTY_ERR] %} has-warning{% endif %}">
  <label for="pro_id" class="col-sm-2 control-label">所属项目</label>
  <div class="col-sm-4">
    <select id="pro_id" name="pro_id" style="width: 100%;" onchange="update_resource_apply(this);">
      <option res_apply_id="0" disk_backup="0" disk_backup_members="0" status="0" loadbalance="0" loadbalance_members="0" status_level="info" status_bg_color="light-green" status_value="0" value="0"> -- 选择项目 ({{ pro_list_res.data|length}}) -- </option>
      {% for pro in pro_list_res.data %}
      {% set last_apply = pro.last_apply %}
        {% if last_apply %}
        <option res_apply_id="{{ last_apply.id }}" disk_backup="{{ last_apply.disk_backup }}" disk_backup_members="{% if last_apply.backups_plot %}{{ last_apply.backups_plot.as_dict().plot|length }}{% else %}0{% endif %}" status="{{ last_apply.status }}" loadbalance="{{ last_apply.loadbalance }}" loadbalance_members="{% if last_apply.loadbalance_plot %}{{ last_apply.loadbalance_plot.as_dict().members|length }}{% else %}0{% endif %}" status_level="{{ STATUS_RESOURCE.get(last_apply.status).level }}" status_bg_color="{{ STATUS_RESOURCE.get(last_apply.status).bg_color }}" status_value="{{ STATUS_RESOURCE.get(last_apply.status).value }}" value="{{ pro.id }}"{% if last_apply.status < STATUS_RESOURCE.CONFIRMPAYED %} disabled="disabled"{% endif %}{% if pro.id == pro_id|int %} selected="selected"{% endif %}>{{ pro.name }}</option>
        {% else %}
        <option res_apply_id="0" disk_backup="0" disk_backup_members="0" status="0" loadbalance="0" loadbalance_members="0" status_level="warning" status_bg_color="yellow" status_value="未申请" value="{{ pro.id }}"{% if pro.id == pro_id|int %} selected="selected"{% endif %}>{{ pro.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
    {% if pro_res and pro_res.return_code in [ERR.PRO_NAME_EMPTY_ERR, RES_APPLY_ID_EMPTY_ERR] %}
    <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> {{ pro_res.return_message }}</label>
    {% endif %}
    <input type="hidden" id="res_apply_id" name="res_apply_id" disk_backup="" disk_backup_members="" loadbalance="" loadbalance_members="" value=""/>
  </div>
</div>
<script text="text/javascript">
  function formatPro(state){
    if (!state.id) { return state.text; }
    var res_apply_id = $(state.element).attr("res_apply_id");
    var status_bg_color = $(state.element).attr("status_bg_color");
    var status_value = $(state.element).attr("status_value");
    var status_disabled = $(state.element).attr("disabled");
    if (status_disabled == "disabled"){
      var disabled_text = "<span class='badge'>不可选</span>";
    }else{
      var disabled_text = "";
    }
    var $state = $("<span>" + state.text + " <span class='badge bg-"+status_bg_color+"'>"+status_value+"</span> " + disabled_text + "</span>");
    return $state;
  }
  $("select").select2();
  $("select[name=pro_id]").select2({
      templateResult: formatPro,
      templateSelection: formatPro
  });
  function update_resource_apply(_this){
    $('#res_apply_id').val($(_this).find('option[value='+$(_this).val()+']').attr('res_apply_id'));
    $('#res_apply_id').attr("disk_backup", $(_this).find('option[value='+$(_this).val()+']').attr('disk_backup'));
    $('#res_apply_id').attr("disk_backup_members", $(_this).find('option[value='+$(_this).val()+']').attr('disk_backup_members'));
    $('#res_apply_id').attr("loadbalance", $(_this).find('option[value='+$(_this).val()+']').attr('loadbalance'));
    $('#res_apply_id').attr("loadbalance_members", $(_this).find('option[value='+$(_this).val()+']').attr('loadbalance_members'));
    ({{ onchange }});
  }
</script>
{% endmacro %}


{% macro select_pro_table_status(status=-3) %}
<!--div class="form-group select2"-->
  <!-- <label for="status" class="col-sm-2 control-label">状态筛选</label> -->
  <!--div class="col-sm-4"-->
  
  <!-- <div class="input-group-btn" style="min-width:200px"> -->
    <select id="status" name="status" class="input-sm" style="width: 100%; height:30px">
      <option value="" selected="selected"> -- 选择状态 -- </option>
      {% for ST in STATUS_PRO_TABLES|status_list(reverse=True) %}
      <option status_level="{{ ST.level }}" status_value="{{ ST.value }}" value="{{ STATUS_PRO_TABLES.get(ST.value_en|upper) }}"{% if STATUS_PRO_TABLES.get(ST.value_en|upper) == status|int %} selected="selected"{% endif %}>{{ ST.value }}, {{ ST.todo_value }}</option>
      {% endfor %}
    </select>
  <!--/div>< /btn-group -->
  <!--/div>
</div-->
<script text="text/javascript">
  $("select").select2();
  // $("select[name=pro_id]").select2({
  //     templateResult: formatPro,
  //     templateSelection: formatPro
  // });
</script>
{% endmacro %}


{% macro select_pro_resource_status(status=-3) %}
<!--div class="form-group select2"-->
  <!-- <label for="status" class="col-sm-2 control-label">状态筛选</label> -->
  <!--div class="col-sm-4"-->
  
  <!-- <div class="input-group-btn" style="min-width:200px"> -->
    <select id="status" name="status" class="input-sm" style="width: 100%; height:30px">
      <option value="" selected="selected"> -- 选择状态 -- </option>
      {% for ST in STATUS_RESOURCE|status_list(reverse=True) %}
      <option status_level="{{ ST.level }}" status_value="{{ ST.value }}" value="{{ STATUS_RESOURCE.get(ST.value_en|upper) }}"{% if STATUS_RESOURCE.get(ST.value_en|upper) == status|int %} selected="selected"{% endif %}>{{ ST.value }}, {{ ST.todo_value }}</option>
      {% endfor %}
    </select>
  <!--/div>< /btn-group -->
  <!--/div>
</div-->
<script text="text/javascript">
  $("select").select2();
  // $("select[name=pro_id]").select2({
  //     templateResult: formatPro,
  //     templateSelection: formatPro
  // });
</script>
{% endmacro %}