{% extends "admin/mail/base_layout.html" %}
{% block title %}
负载均衡申请
{% endblock %}

{% block tip %}
<div class="row">
  <div class="col-sm-12">
  <div class="callout callout-{{ STATUS_PRO_TABLES.get(pro_loadbalance_res.data.status).level }} lead">
    <h4>云平台管理员, 您好!</h4>
    {{ mail_title }}
  </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    {% include "admin/guide/_step_3_balance_detail.html" %}
  </div>
</div>
<div class="row">
  <div class="box box-solid">
    <div class="box-body text-center">
      <a href="{{ CONF('DOMAIN_HOST') }}{{ reverse_url('pro_table_check_list') }}?pro_table=pro_balance" class="btn btn-primary"><i class="fa fa-eye"></i> 查看详情</a>
    </div>
  </div>
</div>
{% endblock %}