{% import "admin/apply/macro_index_page_search.html" as macro_index_page_search with context %}

        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{ handler }}
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">{{ handler }}</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          {% include "admin/base/base_messages.html" %}
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">
                    {{ macro_index_page_search.search('apply.resource', 'apply.resource.add', '资源申请', ST="STATUS_RESOURCE") }}
                  </h3>
                  <div class="box-tools">
                    <a data-pjax href="{{ reverse_url('apply.resource') }}" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></a>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-hover table-striped table-bordered">
                    <tr>
                      <th>用户编号</th>
                      <th style="width: 20%">权限用户</th>
                      <th>所属项目</th>
                      <th>状态</th>
                      <th>是否可用</th>
                      <th>创建时间</th>
                      <th>操作</th>
                    </tr>
                    {% for resource in page.object_list %}
                    <tr>
                      <td>{{ resource.id }}</td>
                      <td>{{ resource.desc }}</td>
                      <td>{{ resource.project.name }}</td>
                      <td><span class="label label-{{ STATUS_RESOURCE.get(resource.status).level }}">{{ STATUS_RESOURCE.get(resource.status).value }}, {{ STATUS_RESOURCE.get(resource.status).todo_value }}</span>
                      </td>
                      <td><span class="label label-{{ STATUS_YESNO.get(resource.is_enable).level }}">{{ STATUS_YESNO.get(resource.is_enable).value }}</span>
                      </td>
                      <td>{{ resource.create_time|getGoodTime }}</td>
                      <td>
                        <div class="input-group-btn">
                          <a data-pjax href="{{ reverse_url('apply.resource.detail') }}?res_id={{ resource.id }}" class="btn btn-xs btn-info"><i class="fa fa-eye"></i> 查看</a>
                          {% if resource.status == STATUS_RESOURCE.CHECKED %}
                          <a data-pjax href="{{ reverse_url('apply.resource.pay') }}?res_id={{ resource.id }}&pro_id={{ resource.pro_id }}" class="btn btn-xs btn-info"><i class="fa fa-credit-card"></i> 支付</a>
                          {% elif resource.status > STATUS_RESOURCE.CHECKED %}
                          <a data-pjax href="{{ reverse_url('apply.resource.pay_history') }}?res_id={{ resource.id }}&pro_id={{ resource.pro_id }}" class="btn btn-xs btn-info"><i class="fa fa-credit-card"></i> 支付历史</a>
                          {% endif %}
                          <a data-pjax href="{{ reverse_url('apply.resource.edit') }}?res_id={{ resource.id }}&pro_id={{ resource.pro_id }}" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> 编辑</a>
                          <button class="btn btn-xs btn-danger" id="form_del_pro_resource_{{ resource.id }}_btn" onclick="do_del_pro_resource('{{ resource.id }}', '{{ resource.project.name }}')"><i class="fa fa-trash"></i> 删除</button>
                          <form id="form_del_pro_resource_{{ resource.id }}" action="{{ reverse_url('apply.resource.del') }}">
                          {{ handler.xsrf_form_html() }}
                          <input type="hidden" name="res_id" value="{{ resource.id }}">
                          </form>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div><!-- /.box-body -->
                  {% include "admin/base/base_paginator.html" %}
              </div><!-- /.box -->
            </div>
          </div><!-- /.row -->
        </section><!-- /.content -->
        <script type="text/javascript">
        function do_del_pro_resource(id, name){
          confirmBox({
              message: "确定删除资源申请"+name+"吗？",
              onConfirm: function(){
                generate_ajax_post({
                    form: "#form_del_pro_resource_"+id,
                    button: "#form_del_pro_resource_"+id+"_btn",
                    onSuccess: function(response){
                      $("#confirmBox").tClose();
                    }
                })
              }
          })
        }
        </script>
