
    <!-- 引入 ECharts 文件 -->
    <script src="{{ handler.static_url('js/echarts/echarts.min.js') }}"></script>
    <!-- 为 ECharts 准备一个具备大小（宽高）的Dom -->
    <!-- <div id="main" style="width: 600px;height:400px;"></div> -->
    {# form for datas #}
    <form id="form_projects_by_env">
        {% for data in projects_by_env %}
        <input type="hidden" name="{{ data[1] }}" value="{{ data[2] }}"{% if data[0]|string == handler.args.get("env", "")|string %} selected="selected"{% endif %} env="{{ data[0] }}"/>
        {% endfor %}
    </form>
    <form id="form_projects_by_status">
        {% for data in projects_by_status %}
        {% set status = data[0] %}
        {% set count = data[1] %}
        <input type="hidden" name="{{ STATUS_RESOURCE.get(status).value }}" value="{{ count }}"{% if status|string == handler.args.get("status", "")|string %} selected="selected"{% endif %} status="{{ status }}"/>
        {% endfor %}
    </form>

    {# form for commit #}
    <form data-pjax id="form_chart_commit" action="{{ reverse_url('project.list') }}" method="GET">
        <input type="hidden" id="env" name="env" value=""/>
        <input type="hidden" id="status" name="status" value=""/>
    </form>

    <div class="col-md-6">
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title text-danger">环境分布图</h3>
          <div class="box-tools pull-right">
            <!-- <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button> -->
          </div>
        </div><!-- /.box-header -->
        <div class="box-body text-center">
          <div class="sparkline" data-type="pie" data-offset="90" data-width="100px" data-height="100px">
            <div style="" class="col-xs-12 text-center">
              <div class="knob-label" id="env_chart" style="width: 500px;height:200px;">数据加载中...</div>
            </div><!-- ./col -->
          </div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-6">
      <div class="box box-solid">
        <div class="box-header">
          <h3 class="box-title text-blue">状态分布图</h3>
          <div class="box-tools pull-right">
            <!-- <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button> -->
          </div>
        </div><!-- /.box-header -->
        <div class="box-body text-center">
          <div class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="#f39c12" data-highlight-Line-Color="#222" data-min-Spot-Color="#f56954" data-max-Spot-Color="#00a65a" data-spot-Color="#39CCCC" data-offset="90" data-width="100%" data-height="100px" data-line-Width="2" data-line-Color="#39CCCC" data-fill-Color="rgba(57, 204, 204, 0.08)">
            <div style="" class="col-xs-12 text-center">
              <div class="knob-label" id="status_chart" style="width: 500px;height:200px;">数据加载中...</div>
            </div><!-- ./col -->
          </div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        
        var colors = ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'];
        var gray_colors = ["#DDDDDD", "#CCCCCC", "#BBBBBB"];

        var envChart = echarts.init(document.getElementById('env_chart'));
        var statusChart = echarts.init(document.getElementById('status_chart'));


        // myChart.showLoading();
        var env_serialize_values = $("#form_projects_by_env").serializeArray();
        var data_legend = [];
        var env_data_legend = [];
        var env_data_legend_selected = {};
        var env_data_values = [];
        $.each(env_serialize_values, function(i){
            //console.log(arr[i].name)
            env_data_legend.push(env_serialize_values[i].name);
            data_legend.push(env_serialize_values[i].name);

            var selected = $("#form_projects_by_env").find("input[name='"+env_serialize_values[i].name+"']").attr("selected");

            if (parseInt($("#form_projects_by_env").find("input[name='"+env_serialize_values[i].name+"']").val()) > 0){
                env_data_legend_selected[env_serialize_values[i].name] = true;
            }else{
                env_data_legend_selected[env_serialize_values[i].name] = false;
            }
            {% if handler.args.get("env", "") == "" %}
            var color = colors[i%colors.length];
            var opacity = 1;
            {% else %}
            var color = selected == "selected" ? colors[i%colors.length] : gray_colors[i%gray_colors.length];
            var opacity = selected == "selected" ? 1: 0.6;
            {% endif %}
            env_data_values.push({
                name: env_serialize_values[i].name,
                value: env_serialize_values[i].value,
                env: $("#form_projects_by_env").find("input[name="+env_serialize_values[i].name+"]").attr("env"),
                selected: selected == "selected" ? "selected": "",
                itemStyle: {
                    normal: {
                        color: color,
                        opacity: opacity
                    }
                }
            });
        })


        var status_serialize_values = $("#form_projects_by_status").serializeArray();
        var status_data_legend = [];
        var status_data_values = [];

        $.each(status_serialize_values, function(i){
            console.log(i)
            status_data_legend.push(status_serialize_values[i].name);
            data_legend.push(status_serialize_values[i].name);
            var selected = $("#form_projects_by_status").find("input[name='"+status_serialize_values[i].name+"']").attr("selected");
            //console.log(arr[i].name+"--"+selected);
            // if (selected){
            //     status_serialize_values[i]["selected"] = "selected";
            // }
            // status_data_values["color"] = colors[i];
            {% if handler.args.get("status", "") == "" %}
            var color = colors[i%colors.length];
            var opacity = 1;
            {% else %}
            var color = selected == "selected" ? colors[i%colors.length] : gray_colors[i%gray_colors.length];
            var opacity = selected == "selected" ? 1: 0.6;
            {% endif %}
            status_data_values.push({
                name: status_serialize_values[i].name,
                value: status_serialize_values[i].value,
                status: $("#form_projects_by_status").find("input[name="+status_serialize_values[i].name+"]").attr("status"),
                // selected: selected == "selected" ? "selected": "",
                itemStyle: {
                    normal: {
                        color: color,
                        opacity: opacity
                    }
                }
            });
        })

        // 指定图表的配置项和数据
        var option_env = {
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c}"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: data_legend,
                selected: env_data_legend_selected
            },
            series: [
                {
                    name: '环境分布',
                    type: 'pie',
                    radius: '70%',
                    center: ['50%', '50%'],
                    selectedOffset: 10,
                    data: env_data_values
                },
                
            ]
        };

        var option_status = {
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c}"
            },
            legend: {
                // orient: 'vertical',
                x: 'left',
                data: status_data_legend
                // selected: status_data_legend_selected
            },
            xAxis: {
                data: status_data_legend
            },
            yAxis: [
                {
                    type: 'value',
                    name: '项目个数',
                    minInterval: 1
                }
            ],
            
            series: [
                {
                    name:'状态分布',
                    type:'bar',
                    data: status_data_values
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        envChart.setOption(option_env);
        envChart.on('click', function (params) {
            // 控制台打印数据的名称
            console.log(params);
            $("#form_chart_commit").find("#env").val(params.data.env);
            $("#form_chart_commit").submit();
        });
        statusChart.setOption(option_status);
        statusChart.on('click', function (params) {
            // 控制台打印数据的名称
            console.log(params);
            $("#form_chart_commit").find("#status").val(params.data.status);
            $("#form_chart_commit").submit();
        });
    </script>
