{% extends "admin/event/index_pjax.html" %}
{% import "admin/base/base_macros.html" as base %}
{% block edit_content %}
      <!-- Horizontal Form -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">添加新事件</h3>
          <div class="pull-right box-tools">
            <button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div><!-- /. tools -->
        </div><!-- /.box-header -->
        <!-- form start -->
        <form data-pjax id="env_form" class="form-horizontal" action="{{ reverse_url('event.add') }}">
          {{ handler.xsrf_form_html() }}
          <div class="box-body">
          {{ base.form_input("事件名称", "name", value=handler.args.get('name', ''), res=env_res, check_codes=[ERR.ENV_NAME_EMPTY_ERR]) }}
          {{ base.form_textarea("事件描述", "desc", value=handler.args.get('desc', ''), res=env_res, check_codes=[ERR.ENV_DESC_EMPTY_ERR]) }}
          {{ base.form_select("紧急程度", "important", value=handler.args.get('important', ''), options=[{"value": 0, "desc": "普通"}, {"value": 1, "desc": "紧急"}], res=env_res, check_codes=[ERR.ENV_DESC_EMPTY_ERR]) }}
          </div><!-- /.box-body -->
          <div class="box-footer text-center">
            <a data-pjax href="{{ reverse_url('event.index') }}" id="cancel_form_btn" class="btn btn-default">取 消</a>
            <button type="button" id="env_form_btn" onclick="do_add_env()" class="btn btn-info">确 定</button>
          </div><!-- /.box-footer -->
        </form>
      </div><!-- /.box -->
      <script text="text/javascript">
        function do_add_env(){
          generate_ajax_post({
              form: "#env_form",
              button: "#env_form_btn",
              onTimeout: function(){ do_add_env();}
          })
        }
      </script>
{% endblock %}

