{% set theme = "warning" %}
{% set action_name = "pt_role" %}
{% set data = {} %}
<div class="box box-{{ theme }}">
  <div class="box-header with-border">
    <h3 class="box-title">添加新操作权限</h3>
    <!-- tools box -->
    <div class="pull-right box-tools">
      <button class="btn btn-{{ theme }} btn-sm" data-widget="remove" data-toggle="tooltip" onclick="hide_right();" title="Remove"><i class="fa fa-times"></i></button>
    </div><!-- /. tools -->
  </div><!-- /.box-header -->
  <!-- form start -->
  <form data-pjax action="{{ reverse_url(action_name) }}" class="form-horizontal" method="POST">
  {{ handler.xsrf_form_html() }}
  {% if data.id %}
    <input type="hidden" name="perm_id" value="{{ data.id }}">
  {% endif %}
    <div class="box-body">
      <div class="form-group">
        <label for="owner" class="col-sm-2 control-label">keyword</label>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="is_enable" name="is_enable" checked="checked"> 是否可用
            </label>
          </div>
        </div>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-default">取消</button>
      <button type="submit" class="btn btn-{{ theme }} pull-right">提交</button>
    </div><!-- /.box-footer -->
  </form>
</div><!-- /.box -->
