
  <!-- Horizontal Form -->
  <div>
    <!-- form start -->
    <form data-pjax action="/guide/step/3" class="form-horizontal" method="POST">
    {{ handler.xsrf_form_html() }}
      <div class="box-body">
        <div class="form-group">
          <label for="disk" class="col-sm-1 control-label">硬盘名称</label>
          <div class="col-sm-10 input-group">
            <div class="input-group-unit">A</div>
            <input type="text" class="form-control" id="disk" placeholder="disk1">
            <div class="input-group-unit">备份策略,每</div>
            <select class="form-control">
              <option>天</option>
              <option>周</option>
              <option>月</option>
            </select>
            <div class="input-group-unit">间隔</div>
            <select class="form-control">
              <option>日</option>
              <option>一</option>
              <option>二</option>
              <option>三</option>
              <option>四</option>
              <option>五</option>
              <option>六</option>
            </select>
            <div class="input-group-unit">时间</div>
            <input type="text" class="form-control" id="disk" placeholder="02:00:00">
          </div>
        </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-default">取消</button>
        <button type="submit" class="btn btn-info pull-right">提交申请</button>
      </div><!-- /.box-footer -->
    </form>
  </div><!-- /.box -->

  
