{% import "admin/base/base_macros.html" as base with context %}
{% import "admin/base/macros/pro_macros.html" as pro_macro with context %}

        <!-- form start -->
        <form data-pjax id="pro_user_form" class="form-horizontal" action="{{ reverse_url('apply.user.add') }}">
          {{ handler.xsrf_form_html() }}
          {% if handler.request.method == "POST" %}
              {% set pro_id = handler.args.get("pro_id", "") %}
              {% set username = handler.args.get("username", "") %}
              {% set email = handler.args.get("email", "") %}
              {% set is_enable = handler.args.get("is_enable", "1") %}
              {% set use_vpn = handler.args.get("use_vpn", "") %}
          {% else %}
              {% set pro_id = handler.args.get("pro_id", "") %}
              {% set username = handler.args.get("username", "") %}
              {% set email = handler.args.get("email", "") %}
              {% set is_enable = handler.args.get("is_enable", "1") %}
              {% set use_vpn = handler.args.get("use_vpn", "") %}
          {% endif %}
          <!-- <input type="hidden" id="res_apply_id" name="res_apply_id" value="{{ res_apply_id }}"/> -->
          <div class="box-body">
            {{ pro_macro.get_pro_info_select(pro_res=pro_user_res, pro_id=pro_id) }}
            {{ base.form_input("用户名", "username", right_col=6, value=username, res=pro_user_res, check_codes=[ERR.USERNAME_EMPTY_ERR, ERR.USERNAME_DUPLICATE_ERR]) }}
            {{ base.form_input("邮箱", "email", right_col=6, res=pro_user_res, value=email,
              check_codes=[ERR.EMAIL_EMPTY_ERR, ERR.EMAIL_FORMAT_ERR, ERR.EMAIL_DUPLICATE_ERR]) }}
            {{ base.form_status_select("是否有效", "is_enable", value=is_enable, options=STATUS_YESNO|status_list(reverse=True), ST=STATUS_YESNO, res=pro_user_res) }}
            <div class="form-group">
              <div class="radio col-sm-offset-2 col-sm-10">
                  <label>
                  <input type="radio" name="use_vpn" id="use_vpn" value="1"{% if use_vpn|int == 1 %} checked="checked"{% endif %}>
                    需要为此用户开通VPN远程访问，并接受用户安全协议。<a href="#">查看协议</a>
                  </label>
              </div>
              <div class="radio col-sm-offset-2 col-sm-10">
                  <label>
                  <input type="radio" name="use_vpn" id="use_vpn" value="0"{% if use_vpn|int == 0 %} checked="checked"{% endif %}>
                    不需开通VPN，管理员于操作间使用资源
                  </label>
              </div>
            </div>
          </div><!-- /.box-body -->
          <div class="box-footer text-center">
            <button type="button" id="pro_user_form_btn" onclick="do_add_pro_user()" class="btn btn-info">提 交</button>
          </div><!-- /.box-footer -->
        </form>
      

<script type="text/javascript">
  function do_add_pro_user(){
    generate_ajax_post({
        form: "#pro_user_form",
        button: "#pro_user_form_btn",
        pjax_container: false,
        onSuccess: function(response){
            $("section.content").prepend(response.data.messages_tmpl);
            $("#pro_user_form").parent().html(response.data.tmpl);
        },
        onTimeout: function(){ do_add_pro_user();}
    })
  }
  $(function () {
    //Add text editor
    $("#content").wysihtml5();
  });
</script>
