<div class="row">
  <div class="col-md-12">
    <p><code>{{ apply_global_vars.status_desc }}</code>{{ apply_global_vars.progress_percent }} Complete ({{ apply_global_vars.todo_status_desc }})</p>
    <div class="progress">
    <div class="progress-bar progress-bar-{{ apply_global_vars.level }} progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ apply_global_vars.progress_percent }};min-width: 2em;">
    <span class="sr-only">{{ apply_global_vars.progress_percent }} Complete ({{ apply_global_vars.todo_status_desc }})</span>
    {{ apply_global_vars.progress_percent }}
      </div>
    </div>
  </div>
</div><!-- /.row -->
