{% import "admin/base/base_macros.html" as base with context %}
{% import "admin/base/macros/pro_macros.html" as pro_macro with context %}

        <!-- form start -->
    <form id="form_loadbalance" data-pjax action="{{ reverse_url('apply.loadbalance.add' )}}" class="form-horizontal" method="POST">
    {{ handler.xsrf_form_html() }}
    {% set loadbalance_plot = pro_loadbalance_res.data if pro_loadbalance_res else {} %}
    
    {% if handler.request.method == "POST" %}
      {% set plot = handler.args.get("plot", "") %}
      {% set health = handler.args.get("health", "") %}
      {% set url = handler.args.get("url", "") %}
      {% set keyword = handler.args.get("keyword", "") %}
      {% set desc = handler.args.get("desc", "") %}
      {% set pro_id = handler.args.get("pro_id", "") %}
    {% else %}
      {% if handler.kwargs["name"] == "guide_step_3" %}
        {% set pro_id = pro_id %}
        {% set plot = "" %}
        {% set health = "" %}
        {% set url = "" %}
        {% set keyword = "" %}
        {% set desc = "" %}
      {% else %}
        {% set pro_id = loadbalance_plot.pro_id if loadbalance_plot else "" %}
        {% set plot = loadbalance_plot.plot if loadbalance_plot else "" %}
        {% set health = loadbalance_plot.health if loadbalance_plot else "" %}
        {% set url = loadbalance_plot.url if loadbalance_plot else "" %}
        {% set keyword = loadbalance_plot.keyword if loadbalance_plot else "" %}
        {% set desc = loadbalance_plot.desc if loadbalance_plot else "" %}
      {% endif %}
    {% endif %}
      <div class="box-body">
        {{ pro_macro.get_pro_info_select(pro_res=pro_loadbalance_res, pro_id=pro_id) }}
        <!-- form input -->
        <input type="hidden" id="members" name="members" value="">
        <!--div class="form-group">
          <label for="disk" class="col-sm-2 control-label">成员A</label>
          <div class="col-sm-6 input-group">
            <div class="input-group-unit">IP</div>
            <input type="text" class="form-control" name="address" placeholder="10">
            <div class="input-group-unit">PORT</div>
            <input type="text" class="form-control" name="port" placeholder="10">
          </div>
        </div-->
        
        <div class="form-group" id="member_add_button">
          <!-- button -->
          <label class="col-sm-2 control-label">
            <button type="button" onclick="add_member()" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> 添加成员</button>
          </label>
          <div class="col-sm-6 input-group">
          <div class="input-group-unit" id="members_add_tip"></div>
          </div>
        </div>
        <!--div class="form-group">
          <label for="disk" class="col-sm-2 control-label">成员B</label>
          <div class="col-sm-6 input-group">
            <div class="input-group-unit">IP</div>
            <input type="text" class="form-control" id="disk" placeholder="10">
            <div class="input-group-unit">PORT</div>
            <input type="text" class="form-control" id="disk_backup" placeholder="10">
          </div>
        </div-->
        {{ base.form_status_select("策略", "plot", value=plot, options=PLOT_LOADBALANCE|status_list, ST=PLOT_LOADBALANCE, res=pro_loadbalance_res, style="width:30%") }}
        {{ base.form_status_select("健康检查", "health", value=health, options=LOADBALANCE_HEALTH|status_list, ST=LOADBALANCE_HEALTH, res=pro_loadbalance_res, style="width:30%") }}
        
        <div class="form-group">
          <label for="loadbalance" class="col-sm-2 control-label"></label>
          <div class="col-sm-8 input-group">
            <div class="input-group-unit">
              URL:
            </div>
            <input type="text" class="form-control" id="url" name="url" placeholder="http://" value="{{ loadbalance_plot.url }}">
            <div class="input-group-unit">
              关键字:
            </div>
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="10" value="{{ loadbalance_plot.keyword }}">
          </div>
        </div>
        {{ base.form_textarea("详细说明", "desc", value=desc, placeholder="IP地址:端口", data_content="例如：<br>127.0.0.1:8080<br>127.0.0.1:8081") }}
        <!-- div class="form-group">
          <label for="desc" class="col-sm-2 control-label">详细说明</label>
          <div class="col-sm-8 input-group">
            <textarea class="textarea" name="desc" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" placeholder="主机ip:端口;备机ip:端口...">{{ desc }}</textarea>
          </div>
        </div -->
      </div><!-- /.box-body -->
      <div class="box-footer text-center">
        {% if not loadbalance_plot %}
        <button type="button" id="form_loadblance_btn" onclick="do_form_loadbalance()" class="btn btn-warning">提 交</button>
        {% elif loadbalance_plot.status <= STATUS_PRO_TABLES.REVOKED %}
        <button type="button" id="form_loadblance_btn" onclick="do_form_loadbalance()" class="btn btn-warning">提 交</button>
        {% elif loadbalance_plot.status == STATUS_PRO_TABLES.APPLIED %}
        <button type="button" id="form_loadblance_btn" onclick="javascript:;" class="btn btn-info">受理中</button>
        {% elif loadbalance_plot.status == STATUS_PRO_TABLES.CHECKED %}
        <button type="button" id="form_loadblance_btn" onclick="pro_table_do_confirm({_this: this, pro_table: 'pro_balance', ids: [{{ loadbalance_plot.id }}]})" class="btn btn-warning">确 认</button>
        {% elif loadbalance_plot.status == STATUS_PRO_TABLES.CONFIRMED %}
        <button type="button" id="form_loadblance_btn" onclick="javascript:;" class="btn btn-warning">已确认</button>
        <button type="button" id="form_loadblance_btn" onclick="do_form_loadbalance()" class="btn btn-warning">重 新 提 交</button>
        {% endif %}
      </div><!-- /.box-footer -->
    </form>
  <div id="member_block" style="display:none">
    {{ base.loadbalance_member() }}
  </div>

<script type="text/javascript">
  $(function(){
    $("select[name=plot]").select2();
    $("select[name=health]").select2();
  })
  {% if pro_id and pro_id > 0 %}
  $(function(){
    init_resource_apply($("#form_loadbalance"));
  })
  {% endif %}
  var max_loop = 0;
  var loop = 0;
  var members = 0;
  var loadbalance_members = 0;
  function set_member_tip(){
    max_loop = parseInt($("#form_loadbalance").find("#res_apply_id").attr("loadbalance"));
    loadbalance_members = parseInt($("#form_loadbalance").find("#res_apply_id").attr("loadbalance_members"));
    // var remainder = max_loop - loadbalance_members - loop;
    var remainder = max_loop - loop;
    $("#members_add_tip").html("还可以添加"+ remainder +"个成员(已添加"+loadbalance_members+"个成员)");
  }
  function add_member(){
    max_loop = parseInt($("#form_loadbalance").find("#res_apply_id").attr("loadbalance"));
    loadbalance_members = parseInt($("#form_loadbalance").find("#res_apply_id").attr("loadbalance_members"));
    if (!max_loop){
      $("#members_add_tip").html("请先选择项目");
      return false 
    }
    console.log("max_loop: "+ max_loop + ", loop: " + loop);
    // if (loop >= (max_loop - loadbalance_members)){ 
    if (loop >= (max_loop)){ 
      $("#members_add_tip").html("还可以添加0个成员(已添加"+loadbalance_members+"个成员)");
      return false 
    };
    members += 1;
    loop += 1;
    set_member_tip()
    $("#member_block").find("label").text("成员"+members);
    var html = $("#member_block").html();
    $("#member_add_button").before(html)
  }
  function do_form_loadbalance(){
    var disks = $("#form_loadbalance").find("label[for=disk]");
    var params = [];
    for(var i in disks.toArray()){
      var loadbalance = {};
      var div = $(disks[i]).next();
      var address = $(div).find("input[name=address]").val();
      var port = $(div).find("input[name=port]").val();
      loadbalance["address"] = address;
      loadbalance["port"] = port;
      params.push(loadbalance);
    }
    $("#members").val(JSON.stringify(params))
    generate_ajax_post({
        form: "#form_loadbalance",
        btn: "#form_loadbalance_btn",
        pjax_container: false,
        onSuccess: function(response){
            $("section.content").prepend(response.data.messages_tmpl);
            $("#form_loadbalance").parent().html(response.data.tmpl);
        },
        onTimeout: function(){ do_form_loadbalance();}
    })
  }

  $(function () {
    //Add text editor
    $("#content").wysihtml5();
  });
  $(function(){
    $("body").find('[data-toggle="popover"]').each(function(){
        $(this).click(function(e){
            // $('.popover').remove();
            $('body').find('[data-toggle="popover"]').popover('hide');
            e.preventDefault();
            return false;
        });
        $(this).popover({
            animation: true,
            trigger : 'click',
            placement: 'auto left',
            html: true
        });
    });
    $("body").click(function(){
        $('body').find('[data-toggle="popover"]').popover('hide');
    });
  });
</script>
