{% from "admin/base/base_macros.html" import check_post with context %}
{% import "admin/base/base_macros.html" as mbase %}
  <!-- Horizontal Form -->
  {% if pro_resource_apply %}

          {% if pro_resource_apply %}
            {# ========== 当前状态为已审核状态，才可以进行支付 ========== #}
            {% if pro_resource_apply.status|int == STATUS_RESOURCE.CHECKED|int %}
            {% set unit_fee = pro_resource_apply.unit_fee %}
            {% set period = pro_resource_apply.period %}
            {% set total_fee = pro_resource_apply.total_fee %}
          <!-- form start -->
            <form id="resource_pay_form" data-pjax action="{{ reverse_url('apply.resource.pay') }}?res_id={{ pro_resource_apply.id }}&pro_id={{ pro_resource_apply.pro_id }}" class="form-horizontal" method="POST">
            {{ handler.xsrf_form_html() }}
              <input type="hidden" name="res_id" value="{{ pro_resource_apply.id }}">
              <input type="hidden" name="action" value="{{ STATUS_RESOURCE.payed.value_en }}">
              <div class="box-body">
                <fieldset>
                  <legend>产生费用</legend>
                  <div class="form-group">
                    <label for="unit_fee" class="col-sm-2 control-label">本月费用</label>
                    <div class="col-sm-6 input-group">
                      <input type="text" class="form-control" id="unit_fee" name="unit_fee" placeholder="10" value="{{ unit_fee }}" readonly>
                      <div class="input-group-unit">元/月</div>
                      <div class="input-group-unit">X</div>
                      <input type="text" class="form-control" id="period" name="period" placeholder="12" value="{{ period }}" readonly>
                      <div class="input-group-unit">月</div>
                    </div>
                  </div>
                  {{ mbase.check_post(post_apply_res, [-100051, -100071, -100052, -100072]) }}
                  <div class="form-group">
                    <label for="total_fee" class="col-sm-2 control-label">合计费用</label>
                    <div class="col-sm-6 input-group">
                      <input type="text" class="form-control" id="total_fee" name="total_fee" placeholder="10" value="{{ total_fee }}" readonly>
                      <div class="input-group-unit">元</div>
                    </div>
                  </div>
                  {{ mbase.check_post(post_apply_res, [-100053, -100073]) }}
                </fieldset>
              </div><!-- /.box-body -->
              <div class="box-footer text-center">
                {% if pro_resource_apply %}
                  {% if pro_resource_apply.status|int == 1 %}
                  <button id="resource_pay_form_tn" type="button" onclick="do_pay()" class="btn btn-{{ STATUS_RESOURCE.revoked.level }}">完成支付</button>
                  {% endif %}
                {% else %}
                {% endif %}
              </div><!-- /.box-footer -->
            </form>
            {% elif pro_resource_apply.status|int < 1 %}
            <a data-pjax href="{{ reverse_url('guide_step_1', pro_resource_apply.pro_id) }}" class="btn btn-{{ STATUS_RESOURCE.get(pro_resource_apply.status).level }}">返回提交申请</a>
            {% elif pro_resource_apply.status|int > 1 %}
            <a data-pjax href="{{ reverse_url('guide_step_3', pro_resource_apply.pro_id) }}" class="btn btn-{{ STATUS_RESOURCE.get(pro_resource_apply.status).level }}">去填写运行参数</a>
            {% endif %}
          {% else %}
          <a data-pjax href="{{ reverse_url('guide_step_1', pro_resource_apply.pro_id) }}" class="btn btn-{{ STATUS_RESOURCE.unknown.level }}">返回提交申请</a>
          {% endif %}
  {% else %}
  <a data-pjax href="{{ reverse_url('guide_step_2', pro_resource_apply.pro_id) }}{% if s %}?{{ s }}{% endif %}" class="btn btn-default">刷新重试</a>
  {% endif %}
  <script type="text/javascript">
  function check_form(){
    return true;
  }
  function do_pay(){
    // var params = $("form").serialize();
    // console.log(params)
    // // $("#btn_do_pay").button("loading");
    // $.ajax({
    //   url: '{{ reverse_url("guide_step_2_payed", pro_resource_apply.pro_id) }}',
    //   type: 'POST',
    //   dataType: 'JSON',
    //   data: params,
    //   success: function(response){
    //     $("#btn_do_pay").button("reset");
    //     if(check_response(response)){
    //       $("#pjax-container").html(response.data);
    //       // do_notice_checker();
    //     }
    //   },
    //   error: function(xhr, textStatus){
    //     if (textStatus == 'timeout'){
    //       do_pay();
    //     }
    //   },
    //   timeout: 3000,
    // })
    generate_ajax_post({
      form: $("#resource_pay_form"),
      button: $("#resource_pay_form_btn"),
      pjax_container: false,
      onSuccess: function(response){
        $("section.content").prepend(response.data.messages_tmpl);
        $("#resource_pay_form").parent().html(response.data.tmpl);
      },
      onTimeout: function(){ do_pay(); }
    })
  }
  </script>
