{#% import "admin/base/base_macros.html" as mbase with context %}
{% import "admin/base/macros/pro_macros.html" as pro_macro with context %}

{% set pro_id = handler.args.get('pro_id', '') %}
{% set computer = handler.args.get('computer', '') %}
{% set cpu = handler.args.get('cpu', '') %}
{% set memory = handler.args.get('memory', '') %}
{% set disk = handler.args.get('disk', '') %}
{% set disk_backup = handler.args.get('disk_backup', '') %}
{% set out_ip = handler.args.get('out_ip', '') %}
{% set snapshot = handler.args.get('snapshot', '') %}
{% set loadbalance = handler.args.get('loadbalance', '') %}
{% set internet_ip = handler.args.get('internet_ip', '') %}
{% set internet_ip_ssl = handler.args.get('internet_ip_ssl', '') %}
{% set start_date = handler.args.get('start_date', '') %}
{% set unit_fee = handler.args.get('unit_fee', '') %}
{% set period = handler.args.get('period', '') %}
{% set total_fee = handler.args.get('total_fee', '') %}
{% set res = pro_resource_apply_res or fee_res %#}

<!-- form start -->
<form id="resource_form" data-pjax action="{{ reverse_url('apply.resource.add') }}" class="form-horizontal" method="POST">
  <div class="box-body">
    {% include "admin/guide/_step_1_res_form.html" %}
  </div>
  <div class="box-foot text-center">
    <button type="button" id="generate_fee_btn" onclick="generate_fee()" class="btn btn-warning btn-sm">试算</button>
    <button id="do_apply_btn" type="button" onclick="do_apply()" class="btn btn-{{ STATUS_RESOURCE.applied.level }}">提交申请</button>
  </div>
</form>
  <script type="text/javascript">
  
  </script>
