{% from "admin/base/base_macros.html" import check_post with context %}
{% import "admin/base/base_macros.html" as mbase %}
{% set last_apply = apply_global_vars.last_apply %}
  <!-- Horizontal Form -->
  <div class="row">
    <div class="col-sm-3">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            {% set show_apply_button = False %}
            {% if last_apply %}
              {% if last_apply.status > STATUS_RESOURCE.PAYED %}
                {% set show_apply_button = True %}
              {% endif %}
            {% else %}
              {% set show_apply_button = True %}
            {% endif %}
            {% if show_apply_button %}
            <tr>
              <td colspan="3" class="text-center"><a href="javascript:;" class="btn btn-warning btn-xs" onclick="add_res()" role="button"><i class="fa fa-plus"></i>资源申请</a></td>
            </tr>
            {% endif %}
            <tr>
              <th class="text-center">申请次数</th>
              <th class="text-center">申请历史</th>
              <th class="text-center">申请时间</th>
            </tr>
            {#% for record in pro_info_res.data.pro_resource_applies[::-1] %#}
            {% if last_apply %}
            {% for record in last_apply.act_histories[::-1] %}
            <tr>
              <td class="text-center">{{ loop.revindex }}</td>
              <td class="text-center"><a data-pjax href="#" onclick="edit_res()">{{ STATUS_RESOURCE.get(record.status).value }}</a></td>
              <td class="text-center"><span class="label label-info">{{ record.create_time.strftime('%Y-%m-%d') }}</span></td>
            </tr>
            {% endfor %}
            {% endif %}
            <tr>
              <td class="text-center"></td>
              <td class="text-center">创建项目</td>
              <td class="text-center"><span class="label label-default">2015-12-20</span></td>
            </tr>
          </table>
        </div><!-- /.box-body -->
    </div>
    <div class="col-sm-9">
      {% include "admin/guide/_step_1_res_form.html" %}
    </div>
  </div><!-- /.box -->
  <script type="text/javascript">
  $('.fa-calendar').datepicker({ format: 'yyyy-mm-dd 00:00:00', autoclose: true});
  function add_res(){
    $('#panel_res').css('display', 'block').removeClass('box-info').addClass('box-warning').find('h3.box-title').text('资源申请');
    $('#submit').removeClass('btn-info').addClass('btn-warning');
  }
  function edit_res(){
    $('#panel_res').css('display', 'block').removeClass('box-warning').addClass('box-info').find('h3.box-title').text('资源调整');
    $('#submit').removeClass('btn-warning').addClass('btn-info');
  }
  function check_form(){
    return true;
  }
  function generate_fee(){
    var params = $("form").serialize();
    $("#generate_fee_btn").button("loading");
    $.ajax({
      url: '{{ reverse_url("generate_fee", pro_info_res.data.id) }}',
      type: 'GET',
      dataType: 'JSON',
      data: params,
      success: function(response){
        $("#generate_fee_btn").button("reset");
        if(check_response(response)){
          $("#unit_fee").val(response.data.unit_fee);
          $("#total_fee").val(response.data.total_fee);
        }
      },
      error: function(xhr, textStatus){
        if (textStatus == 'timeout'){
          generate_fee()
        }
      },
      timeout: 3000,
    })
  }
  function do_apply(){
    generate_ajax_post({
      form: "#resource_form",
      button: "#do_apply_btn",
      onSuccess: function(response){
        // do_notice_checker();
      },
      onTimeout: function(){ do_apply(); }
    })
  }
  function do_re_apply(){
    generate_ajax_post({
      form: "#resource_form",
      button: "#do_re_apply_btn",
      onSuccess: function(response){
        // do_notice_checker();
      },
      onTimeout: function(){ do_re_apply(); }
    })
  }
  function do_delete(){
    generate_ajax_post({
      form: "#resource_delete_form",
      button: "#do_delete_btn",
      method: "DELETE",
      onSuccess: function(response){
        // do_notice_checker();
      },
      onTimeout: function(){ do_delete(); }
    })
  }
  function do_revoke(){
    generate_ajax_post({
      form: "#resource_form",
      button: "#do_revoke_btn",
      onSuccess: function(response){
        // do_notice_checker();
      },
      onTimeout: function(){ do_revoke(); }
    })
    //var params = $("form").serialize();
    //console.log(params)
    //// $("#btn_do_pay").button("loading");
    //$.ajax({
    //  url: '{{ reverse_url("resource_revoke", last_apply.pro_id, last_apply.id) }}',
    //  type: 'POST',
    //  dataType: 'JSON',
    //  data: params,
    //  success: function(response){
    //    $("#btn_do_pay").button("reset");
    //    if(check_response(response)){
    //      $("#pjax-container").html(response.data);
    //    }
    //  },
    //  error: function(xhr, textStatus){
    //    if (textStatus == 'timeout'){
    //      do_pay();
    //    }
    //  },
    //  timeout: 3000,
    //})
  }
  </script>
