<div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">资源申请/变更历史记录</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <th>订单号</th>
                      <th>订单时间</th>
                      <th>项目</th>
                      <th>产生原因</th>
                      <th>截止时间</th>
                      <th>费用金额</th>
                      <th>缴费状态</th>
                    </tr>
                    {% for apply in pro_info_res.data.pro_resource_applies[::-1] %}
                    <tr>
                      <td>{{ apply.id }}</td>
                      <td>{{ apply.create_time }}</td>
                      <td>{{ apply.project.name }}</td>
                      <td>{{ apply.desc_fee }}</td>
                      <td>{{ apply.due_date }}</td>
                      <td>¥{{ "{:,.2f}".format(apply.total_fee) }}元</td>
                      <td><span class="label label-{{ STATUS_RESOURCE.get(apply.status).level }}">{{ STATUS_RESOURCE.get(apply.status).value }}</span></td>
                    </tr>
                    {% endfor %}
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>
