{% import "admin/base/base_macros.html" as mbase with context %}
{% import "admin/base/macros/pro_macros.html" as pro_macro with context %}
{% set res = pro_resource_apply_res or fee_res %}
{#% if pro_resource_apply_res and pro_resource_apply_res.return_code == 0 %}
{% set pro_resource_apply = pro_resource_apply_res.data %}
{% else %}
{% set pro_resource_apply = pro_info_res.data.last_apply %}
{% endif %#}
{% if handler.request.method == "POST" or handler.kwargs["name"] == "apply.resource.add" %}
    {% set pro_id = handler.args.get('pro_id', '') %}
    {% set computer = handler.args.get('computer', '') %}
    {% set cpu = handler.args.get('cpu', '') %}
    {% set memory = handler.args.get('memory', '') %}
    {% set disk = handler.args.get('disk', '') %}
    {% set disk_amount = handler.args.get('disk_amount', '') %}
    {% set disk_backup = handler.args.get('disk_backup', '') %}
    {% set disk_backup_amount = handler.args.get('disk_backup_amount', '') %}
    {% set out_ip = handler.args.get('out_ip', '') %}
    {% set snapshot = handler.args.get('snapshot', '') %}
    {% set loadbalance = handler.args.get('loadbalance', '') %}
    {% set internet_ip = handler.args.get('internet_ip', '') %}
    {% set internet_ip_ssl = handler.args.get('internet_ip_ssl', '') %}
    {% set start_date = handler.args.get('start_date', '') %}
    {% set unit_fee = handler.args.get('unit_fee', '') %}
    {% set period = handler.args.get('period', '') %}
    {% set total_fee = handler.args.get('total_fee', '') %}
{% else %}
      {% if pro_resource_apply_res and pro_resource_apply_res.return_code == 0 %}
        {% set pro_resource_apply = pro_resource_apply_res.data %}
      {% else %}
        {% set pro_resource_apply = pro_info_res.data.last_apply %}
      {% endif %}
      {% if handler.kwargs["name"] == "guide_step_1" %}
        {% set pro_info = pro_info_res.data %}
        {% set pro_id = pro_info.id if pro_info else '' %}
      {% else %}
        {% set pro_id = pro_resource_apply.pro_id if pro_resource_apply else '' %}
      {% endif %}
      {% set computer = pro_resource_apply.computer if pro_resource_apply else '' %}
      {% set cpu = pro_resource_apply.cpu if pro_resource_apply else '' %}
      {% set memory = pro_resource_apply.memory if pro_resource_apply else '' %}
      {% set disk = pro_resource_apply.disk if pro_resource_apply else '' %}
      {% set disk_amount = pro_resource_apply.disk_amount if pro_resource_apply else '' %}
      {% set disk_backup = pro_resource_apply.disk_backup if pro_resource_apply else '' %}
      {% set disk_backup_amount = pro_resource_apply.disk_backup_amount if pro_resource_apply else '' %}
      {% set out_ip = pro_resource_apply.out_ip if pro_resource_apply else '' %}
      {% set snapshot = pro_resource_apply.snapshot if pro_resource_apply else '' %}
      {% set loadbalance = pro_resource_apply.loadbalance if pro_resource_apply else '' %}
      {% set internet_ip = pro_resource_apply.internet_ip if pro_resource_apply else '' %}
      {% set internet_ip_ssl = pro_resource_apply.internet_ip_ssl if pro_resource_apply else '' %}
      {% set start_date = pro_resource_apply.start_date if pro_resource_apply else '' %}
      {% set unit_fee = pro_resource_apply.unit_fee if pro_resource_apply else '' %}
      {% set period = pro_resource_apply.period if pro_resource_apply else '' %}
      {% set total_fee = pro_resource_apply.total_fee if pro_resource_apply else '' %}
{% endif %}
    {{ handler.xsrf_form_html() }}
    {% if pro_resource_apply and pro_resource_apply.status|int in [STATUS_RESOURCE.REFUSED] %}
      <div class="form-group has-warning">
        <label class="control-label col-sm-offset-2" for="inputWarning">申请被拒绝：<i class="fa fa-bell-o"></i> {{ pro_resource_apply.reason }}</label>
      </div>
    {% endif %}
    {{ pro_macro.get_pro_info_select(pro_res=res, pro_id=pro_id, onchange="load_env()") }}
    <fieldset>
      <legend>资源配置</legend>
          <div class="form-group{% if res and res.return_code in [ERR.RES_COMPUTER_EMPTY_ERR, ERR.RES_COMPUTER_INVALID_ERR] %} has-warning{% endif %}">
            <label for="computer" class="col-sm-2 control-label">{{ Pro_Resource_Apply.computer.info.name }}</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="computer" name="computer" placeholder="0" value="{{ computer }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.computer.info.unit }}</div>
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.computer.info.name }}" data-content="{{ Pro_Resource_Apply.computer.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>

            {% if res and res.return_code in [ERR.RES_COMPUTER_EMPTY_ERR, ERR.RES_COMPUTER_INVALID_ERR] %}
            <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
            {% endif %}
          </div>
          <div class="form-group{% if res and res.return_code in [ERR.RES_CPU_EMPTY_ERR, ERR.RES_CPU_INVALID_ERR] %} has-warning{% endif %}">
            <label for="cpu" class="col-sm-2 control-label">{{ Pro_Resource_Apply.cpu.info.name }}</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="cpu" name="cpu" placeholder="0" value="{{ cpu }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.cpu.info.unit }}</div>
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.cpu.info.name }}" data-content="{{ Pro_Resource_Apply.cpu.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>
          {% if res and res.return_code in [ERR.RES_CPU_EMPTY_ERR, ERR.RES_CPU_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_MEMERY_EMPTY_ERR, ERR.RES_MEMERY_INVALID_ERR] %} has-warning{% endif %}">
            <label for="memory" class="col-sm-2 control-label">{{ Pro_Resource_Apply.memory.info.name }}</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="memory" name="memory" placeholder="0" value="{{ memory }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.memory.info.unit }}</div>
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.memory.info.name }}" data-content="{{ Pro_Resource_Apply.memory.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>
          {% if res and res.return_code in [ERR.RES_MEMERY_EMPTY_ERR, ERR.RES_MEMERY_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_DISK_EMPTY_ERR, ERR.RES_DISK_INVALID_ERR, ERR.RES_DISK_BACKUP_EMPTY_ERR, ERR.RES_DISK_BACKUP_INVALID_ERR] %} has-warning{% endif %}">
            <label for="disk" class="col-sm-2 control-label">{{ Pro_Resource_Apply.disk.info.name }}</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="disk" name="disk" placeholder="0" value="{{ disk }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.disk.info.unit }},</div>
              <div class="input-group-unit">{{ Pro_Resource_Apply.disk_amount.info.name }}</div>
              <input type="text" class="form-control" id="disk_amount" name="disk_amount" placeholder="0" value="{{ disk_amount }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.disk_amount.info.unit }}</div>
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.disk.info.name }}/{{ Pro_Resource_Apply.disk_amount.info.name }}" data-content="{{ Pro_Resource_Apply.disk.info.tip }}<br>合计备份总容量：{{ Pro_Resource_Apply.disk_amount.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>
          {% if res and res.return_code in [ERR.RES_DISK_EMPTY_ERR, ERR.RES_DISK_INVALID_ERR, ERR.RES_DISK_BACKUP_EMPTY_ERR, ERR.RES_DISK_BACKUP_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_DISK_EMPTY_ERR, ERR.RES_DISK_INVALID_ERR, ERR.RES_DISK_BACKUP_EMPTY_ERR, ERR.RES_DISK_BACKUP_INVALID_ERR] %} has-warning{% endif %}">
            <label for="disk_backup" class="col-sm-2 control-label">{{ Pro_Resource_Apply.disk_backup_amount.info.name }}</label>
            <div class="col-sm-10 input-group">
<!--               <input type="text" class="form-control" id="disk_backup" name="disk_backup" placeholder="0" value="{{ disk_backup }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.disk_backup.info.unit }},</div> -->
              <!-- <div class="input-group-unit">{{ Pro_Resource_Apply.disk_backup_amount.info.name }}</div> -->
              <input type="text" class="form-control" id="disk_backup_amount" name="disk_backup_amount" placeholder="0" value="{{ disk_backup_amount }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.disk_backup_amount.info.unit }}</div>
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.disk_backup_amount.info.name }}" data-content="{{ Pro_Resource_Apply.disk_backup_amount.info.name }}:{{ Pro_Resource_Apply.disk_backup_amount.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>
          {% if res and res.return_code in [ERR.RES_DISK_EMPTY_ERR, ERR.RES_DISK_INVALID_ERR, ERR.RES_DISK_BACKUP_EMPTY_ERR, ERR.RES_DISK_BACKUP_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_OUT_IP_EMPTY_ERR, ERR.RES_OUT_IP_INVALID_ERR] %} has-warning{% endif %}">
            <label for="ip" class="col-sm-2 control-label">{{ Pro_Resource_Apply.out_ip.info.name }}</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="out_ip" name="out_ip" placeholder="0" value="{{ out_ip }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.out_ip.info.unit }}</div>
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.out_ip.info.name }}" data-content="{{ Pro_Resource_Apply.out_ip.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>
          {% if res and res.return_code in [ERR.RES_OUT_IP_EMPTY_ERR, ERR.RES_OUT_IP_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_SNAPSHOT_EMPTY_ERR, ERR.RES_SNAPSHOT_INVALID_ERR] %} has-warning{% endif %}">
            <label for="snapshot" class="col-sm-2 control-label">{{ Pro_Resource_Apply.snapshot.info.name }}</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="snapshot" name="snapshot" placeholder="0" value="{{ snapshot }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.snapshot.info.unit }}</div>
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.snapshot.info.name }}" data-content="{{ Pro_Resource_Apply.snapshot.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>
          {% if res and res.return_code in [ERR.RES_SNAPSHOT_EMPTY_ERR, ERR.RES_SNAPSHOT_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_LOADBALANCE_EMPTY_ERR, ERR.RES_LOADBALANCE_INVALID_ERR] %} has-warning{% endif %}">
            <label for="loadbalance" class="col-sm-2 control-label">{{ Pro_Resource_Apply.loadbalance.info.name }}</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="loadbalance" name="loadbalance" placeholder="0" value="{{ loadbalance }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.loadbalance.info.unit }}</div>
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.loadbalance.info.name }}" data-content="{{ Pro_Resource_Apply.loadbalance.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>
          {% if res and res.return_code in [ERR.RES_LOADBALANCE_EMPTY_ERR, ERR.RES_LOADBALANCE_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_INTERNET_IP_EMPTY_ERR, ERR.RES_INTERNET_IP_INVALID_ERR, ERR.RES_INTERNET_IP_SSL_EMPTY_ERR, ERR.RES_INTERNET_IP_SSL_INVALID_ERR] %} has-warning{% endif %}">
            <label for="internet_ip" class="col-sm-2 control-label">{{ Pro_Resource_Apply.internet_ip.info.name }}</label>
            <div class="col-sm-6 input-group">
              {% include "admin/apply/resource/_env_internet_ip_types.html" %}
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.internet_ip.info.name }}" data-content="{{ Pro_Resource_Apply.internet_ip.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>
          {% if res and res.return_code in [ERR.RES_INTERNET_IP_EMPTY_ERR, ERR.RES_INTERNET_IP_INVALID_ERR, ERR.RES_INTERNET_IP_SSL_EMPTY_ERR, ERR.RES_INTERNET_IP_SSL_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_BANDWIDTH_EMPTY_ERR, ERR.RES_BANDWIDTH_INVALID_ERR] %} has-warning{% endif %}">
            <label for="internet_ip" class="col-sm-2 control-label">{{ Pro_Resource_Apply.bandwidth.info.name }}</label>
            <div class="col-sm-10 input-group">
              {% if pro_resource_apply_res and pro_resource_apply_res.return_code == 0 %}
                {% set pro_resource_apply = pro_resource_apply_res.data %}
                {% set internet_bandwidths = pro_resource_apply.internet_ip_obj.bandwidths %}
                {% include "admin/apply/resource/_env_internet_bandwidth.html" with context %}
              {% else %}
                {% include "admin/apply/resource/_env_internet_bandwidth.html" with context %}
              {% endif %}
            </div>
          {% if res and res.return_code in [ERR.RES_BANDWIDTH_EMPTY_ERR, ERR.RES_BANDWIDTH_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_START_DATE_EMPTY_ERR, ERR.RES_START_DATE_INVALID_ERR] %} has-warning{% endif %}">
            <label for="start_date" class="col-sm-2 control-label">{{ Pro_Resource_Apply.start_date.info.name }}</label>
            <div class="col-sm-10 input-group">
              <div class="input-group">
                <input type="text" class="form-control pull-right fa-calendar" id="start_date" name="start_date" value="{{ start_date|default('', True) }}" readonly>
              </div><!-- /.input group -->
              <div class="input-group-unit" style="text-align:left; width:40%">
                <a href="javascript:;" data-toggle="popover" data-trigger="focus" title="{{ Pro_Resource_Apply.start_date.info.name }}" data-content="{{ Pro_Resource_Apply.start_date.info.tip }}"><i class="fa fa-info-circle"></i></a>
              </div>
            </div>
          {% if res and res.return_code in [ERR.RES_START_DATE_EMPTY_ERR, ERR.RES_START_DATE_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>
    </fieldset>
    <fieldset id="tmpl_step_1_res_fee_form">
      <legend>产生费用 </legend>
          {% if handler.kwargs["name"] == "apply.resource.generate_fee" %}
            {% set res = fee_res %}
          {% else %}
            {% set res = pro_resource_apply_res %}
          {% endif %}
          {% if res and res.return_code == 0 %}
          {% set unit_fee = res.data.unit_fee %}
          {% set total_fee = res.data.total_fee %}
          {% endif %}

          <div class="form-group{% if res and res.return_code in [ERR.RES_PERIOD_EMPTY_ERR, ERR.RES_PERIOD_INVALID_ERR] %} has-warning{% endif %}">
            <label for="unit_fee" class="col-sm-2 control-label">{{ Pro_Resource_Apply.unit_fee.info.name }}</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="unit_fee" name="unit_fee" placeholder="0" value="{{ unit_fee }}" readonly>
              <div class="input-group-unit">{{ Pro_Resource_Apply.unit_fee.info.unit }}</div>
              <div class="input-group-unit">X</div>
              <input type="text" class="form-control" id="period" name="period" placeholder="0" value="{{ period }}">
              <div class="input-group-unit">{{ Pro_Resource_Apply.period.info.unit }}</div>
            </div>
          {% if res and res.return_code in [ERR.RES_PERIOD_EMPTY_ERR, ERR.RES_PERIOD_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group">
            <label for="total_fee" class="col-sm-2 control-label">{{ Pro_Resource_Apply.total_fee.info.name }}</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="total_fee" name="total_fee" placeholder="0" value="{{ total_fee }}" readonly>
              <div class="input-group-unit">{{ Pro_Resource_Apply.total_fee.info.unit }}</div>
            </div>
          </div>
    </fieldset>
  <script type="text/javascript">
  {% if pro_id and pro_id > 0 %}
  $(function(){
    init_resource_apply($("#resource_form"));
  })
  {% endif %}
  $(function(){
    $("#bandwidth").select2()
  });
  function generate_fee(){
    generate_ajax_post({
        form: "#resource_form",
        btn: "#generate_fee_btn",
        // method: "GET",
        url: '{{ reverse_url("apply.resource.generate_fee") }}',
        pjax_container: false,
        onSuccess: function(response){
          $("#tmpl_step_1_res_fee_form").html(response.data.tmpl);
          $("section.content").prepend(response.data.messages_tmpl);
        }
    })
  }
  $('.fa-calendar').datepicker(
    {
      format: 'yyyy-mm-dd 00:00:00',
      startDate: '+1d',
      language: 'zh-CN',
      autoclose: true
    }
  );
  {% if handler.kwargs["name"] == "apply.resource.edit" %}
  var do_load_env = false;
  {% else %}
  var do_load_env = true;
  {% endif %}
  function load_env(){
    console.log("load_env");
    var pro_id = $("#pro_id").val()
    var res_apply_id = $("#res_apply_id").val()
    // console.log("res_apply_id-->"+res_apply_id);
    // if (res_apply_id <= 0){
    console.log("do_load_env-->"+do_load_env);
    if (do_load_env){
      $.ajax({
          url: '{{ reverse_url("apply.resource.load_env") }}?pro_id='+pro_id+'&res_id='+res_apply_id,
          type: "GET",
          dataType: "JSON",
          success: function(response){
              if(check_response(response)){
                  $.each(response.data.env_resource_value, function(key, value){
                      $("#"+key).val(value);
                  })
                  $("#internet_ip").parent().html(response.data.env_internet_ip_types_tmpl)
                  $("#bandwidth").parent().html(response.data.env_internet_bandwidth_tmpl)
                  $("#internet_ip").select2();
              }
          }
      })
    }
  }
  function add_res(){
    $('#panel_res').css('display', 'block').removeClass('box-info').addClass('box-warning').find('h3.box-title').text('资源申请');
    $('#submit').removeClass('btn-info').addClass('btn-warning');
  }
  function edit_res(){
    $('#panel_res').css('display', 'block').removeClass('box-warning').addClass('box-info').find('h3.box-title').text('资源调整');
    $('#submit').removeClass('btn-warning').addClass('btn-info');
  }
  function check_form(){
    return true;
  }

  function do_apply(){
    generate_ajax_post({
      form: "#resource_form",
      button: "#do_apply_btn",
      pjax_container: false,
      onSuccess: function(response){
        $("section.content").prepend(response.data.messages_tmpl);
        $("#resource_form").parent().html(response.data.tmpl);
      },
      onTimeout: function(){ do_apply(); }
    })
  }
  function do_re_apply(){
    $("#pro_id").val($("#pro_id option[selected]").val())
    $("#res_apply_id").val($("#pro_id option[selected]").attr("res_apply_id"))
    generate_ajax_post({
      form: "#resource_form",
      button: "#do_re_apply_btn",
      pjax_container: false,
      onSuccess: function(response){
        $("section.content").prepend(response.data.messages_tmpl);
        $("#resource_form").parent().html(response.data.tmpl);
      },
      onTimeout: function(){ do_re_apply(); }
    })
  }
  function do_delete(){
    generate_ajax_post({
      form: "#resource_delete_form",
      button: "#do_delete_btn",
      method: "DELETE",
      onSuccess: function(response){
        // do_notice_checker();
      },
      onTimeout: function(){ do_delete(); }
    })
  }
  function do_revoke(){
    generate_ajax_post({
      form: "#resource_form",
      button: "#do_revoke_btn",
      pjax_container: false,
      onSuccess: function(response){
        // $("section.content").find("div[name=base_message]").remove();
        $("section.content").prepend(response.data.messages_tmpl);
        $("#resource_form").parent().html(response.data.tmpl);
      },
      onTimeout: function(){ do_revoke(); }
    })
  }
  </script>
{% include "admin/base/scripts/popover.html" %}