<div class="row">
            <div class="col-md-3">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                  <div class="widget-user-image">
                    <img class="img-circle" src="{{ handler.static_url('images/guide/servers.jpg') }}" alt="User Avatar">
                  </div><!-- /.widget-user-image -->
                  <h3 class="widget-user-username"><a data-pjax style="color:white" href="{{ reverse_url('guide_step_1')}}">资源配置</a></h3>
                  <h5 class="widget-user-desc">
                  <span class="pull-right badge">1</span>
                  </h5>
                </div>
              </div><!-- /.widget-user -->
            </div><!-- /.col -->
            <div class="col-md-1">
            <img src="{{ handler.static_url('images/guide/arrow.png') }}" alt="User Avatar">
            </div>
            <div class="col-md-3">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img class="img-circle" src="{{ handler.static_url('images/guide/pay.jpeg') }}" alt="User Avatar">
                  </div><!-- /.widget-user-image -->
                  <h3 class="widget-user-username"><a data-pjax style="color:white" href="{{ reverse_url('guide_step_2')}}">资源缴费</a></h3>
                  <h5 class="widget-user-desc">
                  <span class="pull-right badge">1</span>
                  </h5>
                </div>
              </div><!-- /.widget-user -->
            </div><!-- /.col -->
            <div class="col-md-1">
            <img src="{{ handler.static_url('images/guide/arrow.png') }}" alt="User Avatar">
            </div>
            <div class="col-md-3">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-green">
                  <div class="widget-user-image">
                    <img class="img-circle" src="{{ handler.static_url('images/guide/cloud.jpg') }}" alt="User Avatar">
                  </div><!-- /.widget-user-image -->
                  <h3 class="widget-user-username"><a data-pjax style="color:white" href="{{ reverse_url('guide_step_3')}}">资源服务</a></h3>
                  <h5 class="widget-user-desc">
                  <span class="pull-right badge">1</span>
                  </h5>
                </div>
              </div><!-- /.widget-user -->
            </div><!-- /.col -->
          </div><!-- /.row -->