{#% import "admin/base/base_macros.html" as mbase with context %}
{% import "admin/base/macros/pro_macros.html" as pro_macro with context %#}

{% set res = pro_resource_apply_res or fee_res %}
{% if pro_resource_apply_res and pro_resource_apply_res.return_code == 0 %}
{% set pro_resource_apply = pro_resource_apply_res.data %}
{% else %}
{% set pro_resource_apply = pro_info_res.data.last_apply %}
{% endif %}
{#% if handler.request.method == "POST" %}
    {% set pro_id = handler.args.get('pro_id', '') %}
    {% set computer = handler.args.get('computer', '') %}
    {% set cpu = handler.args.get('cpu', '') %}
    {% set memory = handler.args.get('memory', '') %}
    {% set disk = handler.args.get('disk', '') %}
    {% set disk_backup = handler.args.get('disk_backup', '') %}
    {% set out_ip = handler.args.get('out_ip', '') %}
    {% set snapshot = handler.args.get('snapshot', '') %}
    {% set loadbalance = handler.args.get('loadbalance', '') %}
    {% set internet_ip = handler.args.get('internet_ip', '') %}
    {% set internet_ip_ssl = handler.args.get('internet_ip_ssl', '') %}
    {% set start_date = handler.args.get('start_date', '') %}
    {% set unit_fee = handler.args.get('unit_fee', '') %}
    {% set period = handler.args.get('period', '') %}
    {% set total_fee = handler.args.get('total_fee', '') %}
{% else %}
    {% set pro_id = pro_resource_apply.pro_id %}
    {% set computer = pro_resource_apply.computer %}
    {% set cpu = pro_resource_apply.cpu %}
    {% set memory = pro_resource_apply.memory %}
    {% set disk = pro_resource_apply.disk %}
    {% set disk_backup = pro_resource_apply.disk_backup %}
    {% set out_ip = pro_resource_apply.out_ip %}
    {% set snapshot = pro_resource_apply.snapshot %}
    {% set loadbalance = pro_resource_apply.loadbalance %}
    {% set internet_ip = pro_resource_apply.internet_ip %}
    {% set internet_ip_ssl = pro_resource_apply.internet_ip_ssl %}
    {% set start_date = pro_resource_apply.start_date %}
    {% set unit_fee = pro_resource_apply.unit_fee %}
    {% set period = pro_resource_apply.period %}
    {% set total_fee = pro_resource_apply.total_fee %}
{% endif %#}

{% if pro_resource_apply %}
  {% if pro_resource_apply.status == STATUS_RESOURCE.APPLIED %}
  {# <============ 撤销申请 =============> #}
  {% set post_action = reverse_url('apply.resource.revoke') %}
  {% elif pro_resource_apply.status in [STATUS_RESOURCE.REVOKED, STATUS_RESOURCE.REFUSED] %}
  {% set delete_action = reverse_url('apply.resource.del') %}
  <form id="resource_delete_form" action="{{ delete_action }}" method="POST">
    {{ handler.xsrf_form_html() }}
    <input type="hidden" name="post_res_id" value="{{ pro_resource_apply.id }}">
  </form>
  {# <============ 重新提交申请 =============> #}
  {% set post_action = reverse_url('apply.resource.edit') %}
  {# <============ 删除申请 =============> #}
  {% elif pro_resource_apply.status == STATUS_RESOURCE.CHECKED %}
  {# <============ 完成支付 =============> #}
  {% endif %}
{% else %}
  {# <============ 申请新资源 =============> #}
  {% set post_action = reverse_url('apply.resource.add') %}
{% endif %}


<!-- form start -->
<form id="resource_form" data-pjax action="{{ post_action }}?res_id={{ pro_resource_apply.id }}&pro_id={{ pro_resource_apply.pro_id }}" class="form-horizontal" method="POST">
  <div class="box-body">
    {% include "admin/guide/_step_1_res_form.html" %}
  </div>
  <div class="box-foot text-center">
    <button type="button" id="generate_fee_btn" onclick="generate_fee()" class="btn btn-warning btn-sm">试算</button>
    {% if pro_resource_apply %}
      {% if pro_resource_apply.status|int == STATUS_RESOURCE.APPLIED %}
      <button id="do_revoke_btn" type="button" onclick="do_revoke()" class="btn btn-{{ STATUS_RESOURCE.revoked.level }}">撤销申请</button>
      {% elif pro_resource_apply.status|int in [STATUS_RESOURCE.REVOKED, STATUS_RESOURCE.REFUSED] %}
      <button id="do_re_apply_btn" type="button" onclick="do_re_apply()" class="btn btn-{{ STATUS_RESOURCE.applied.level }}">重新提交申请</button>
      <button id="do_delete_btn" type="button" onclick="do_delete()" class="btn btn-{{ STATUS_RESOURCE.unknown.level }}">删除申请</button>
      {% elif pro_resource_apply.status|int == STATUS_RESOURCE.CHECKED %}
      <a data-pjax href="{{ reverse_url('guide_step_2', pro_resource_apply.project.id) }}" class="btn btn-{{ STATUS_RESOURCE.payed.level }}">去支付</a>
      {% elif pro_resource_apply.status|int == STATUS_RESOURCE.CONFIRMPAYED %}
      <a data-pjax href="{{ reverse_url('guide_step_3', pro_resource_apply.project.id) }}" class="btn btn-{{ STATUS_RESOURCE.payed.level }}">去填写运行参数</a>
      {% endif %}
    {% else %}
        <button id="do_apply_btn" type="button" onclick="do_apply()" class="btn btn-{{ STATUS_RESOURCE.applied.level }}">提交申请</button>
    {% endif %}
  </div>
</form>
  <script type="text/javascript">
  {% if pro_id and pro_id > 0 %}
  $(function(){
    init_resource_apply($("#resource_form"));
  })
  {% endif %}
  
  </script>
