{% set pro_resource_apply = pro_resource_apply_res.data %}
<table class="table table-striped" id="resource_check_table">
  <tr style="display: none">
    <td>
      <input type="checkbox" value="{{ pro_resource_apply.id }}" checked="checked"/>
    </td>
  </tr>
  <tr>
    <th>申请项目</th>
    <th>申请数量</th>
  </tr>
  <tr>
    <td>所属项目:</td>
    <td>{{ pro_resource_apply.project.name }}
    {% set ST = STATUS_RESOURCE.get(pro_resource_apply.status) %}
      <span class="label label-{{ ST.level }}">{{ ST.value }}, {{ ST.todo_value }}</span></td>
  </tr>
  <tr>
    <td>所属环境:</td>
    <td>{{ pro_resource_apply.project.env.name }}</td>
  </tr>
  {% for column in pro_resource_apply.__table__.columns %}
    {% if column.info.name %}
      {% if column.name == "status" %}
      <tr>
        <td>{{ column.info.name or column.name }}:</td>
        {% set ST = STATUS_RESOURCE.get(pro_resource_apply.status) %}
        <td><span class="label label-{{ ST.level }}">{{ ST.value }}, {{ ST.todo_value }}</span>
        <a data-pjax href="{{ reverse_url('apply.resource.edit') }}?res_id={{ pro_resource_apply.id }}&pro_id={{ pro_resource_apply.pro_id }}"><i class="fa fa-edit"></i> 编辑</a>
        </td>
      </tr>
      {% elif column.name == "internet_ip" %}
      <tr>
        <td>{{ column.info.name or column.name }}:</td>
        <td><span class="label label-info">{{ pro_resource_apply.internet_ip_obj.name }}</span></td>
      </tr>
      {% elif column.name == "internet_ip_ssl" %}
      <tr>
        <td>{{ column.info.name or column.name }}:</td>
        <td>
        {% if pro_resource_apply.internet_ip_ssl > 0 %}
        <span class="label label-info">需要SSL卸载</span>
        {% else %}
        <span class="label label-default">不需要SSL卸载</span>
        {% endif %}
        </td>
      </tr>
      {% else %}
      <tr>
        <td>{{ column.info.name or column.name }}:</td>
        <td>{{ getattr(pro_resource_apply, column.name)|default('<span class="label label-danger">未设置</span>', True) }} {% if getattr(pro_resource_apply, column.name) %} {{ column.info.unit }}{% endif %}</td>
      </tr>
      {% endif %}
    {% endif %}
  {% endfor %}
</table>
