
{% import "admin/base/base_macros.html" as base %}
{% import "admin/base/macros/pro_macros.html" as pro_macro with context %}
    

    <!-- form start -->
    <form id="form_backup" data-pjax action="{{ reverse_url('apply.backup.add') }}" class="form-horizontal" method="POST">
    {{ handler.xsrf_form_html() }}
    {% if handler.request.method == "POST" %}
    {% set pro_id = handler.args.get("pro_id", "") %}
    {% else %}
    {% if handler.kwargs["name"] == "guide_step_3" %}
    {% set pro_id = pro_id %}
    {% endif %}
    {% endif %}
    
      <div class="box-body">
        {{ pro_macro.get_pro_info_select(pro_res=pro_backup_res, pro_id=pro_id) }}
        {% if pro_backup_res %}
          {% set backup_plot = pro_backup_res.data %}
        {% endif %}
        {% if backup_plot %}
          {% set backup_list = backup_plot.as_dict().plot %}
          {% set ST = STATUS_PRO_TABLES.get(backup_plot.status) %}
        {% else %}
          {% set backup_list = [] %}
        {% endif %}
        {% for member in backup_list %}
          {% set failures = member.failures %}
          {{ base.backup_member(member, loop=loop.index, failures=failures, ERR=ERR) }}
        {% endfor %}
        <input type="hidden" id="backups" name="backups" value="">
        <div class="form-group" id="backup_add_button">
          <!-- button -->
          <label class="col-sm-2 control-label">
            <button type="button" onclick="add_backup()" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> 添加磁盘</button>
          </label>
          <div class="col-sm-6 input-group">
          <div class="input-group-unit" id="backups_add_tip"></div>
          </div>
        </div>
      </div><!-- /.box-body -->
      <div class="box-footer text-center">
        <button type="button" id="form_backup_btn" onclick="do_form_backup()" class="btn btn-warning">提 交</button>
      </div><!-- /.box-footer -->
    </form>

  <div id="backup_block" style="display:none">
    {{ base.backup_member() }}
  </div>
  <div id="week_options" style="display: none">
    <option value="周日">周日</option>
    <option value="周一">周一</option>
    <option value="周二">周二</option>
    <option value="周三">周三</option>
    <option value="周四">周四</option>
    <option value="周五">周五</option>
    <option value="周六">周六</option>
  </div>
  <div id="month_options" style="display: none">
    {% for x in range(1, 32) %}
    <option value="{{ x }}日">{{ x }}日</option>
    {% endfor %}
  </div>
  
  <script type="text/javascript">
  {% if pro_id and pro_id > 0 %}
  $(function(){
    init_resource_apply($("#form_backup"));
  })
  {% endif %}
  var bmax_loop = 0;
  var bloop = 0;
  var backups = 0;
  function set_backup_tip(){
    bmax_loop = $("#form_backup").find("#res_apply_id").attr("disk_backup")
    var remainder = bmax_loop - bloop;
    $("#backups_add_tip").html("还可以添加"+ remainder +"个磁盘")
  }
  function add_backup(){
    bmax_loop = $("#form_backup").find("#res_apply_id").attr("disk_backup");
    if (!bmax_loop){
      $("#backups_add_tip").html("请先选择所属项目")
      return false 
    }
    if (bloop >= bmax_loop){ 
      $("#backups_add_tip").html("还可以添加0个磁盘")
      return false 
    };
    backups += 1;
    bloop += 1;
    set_backup_tip()
    // $("#backup_block").find("label").text("磁盘"+backups);
    $("#backup_block").find("input[name=disk]").attr("value", "disk"+backups);
    $("#backup_block").find("input[name=disk]").attr("placeholder", "disk"+backups);
    var html = $("#backup_block").html();
    $("#backup_add_button").before(html);
    init_timepicker();
  }
  function do_form_backup(){
    var disks = $("#form_backup").find("div[name=disk_backup_plot]");
    var params = [];
    for(var i in disks.toArray()){
      var backup = {};
      var div = $(disks[i]);
      var name = $(div).find("input[name=disk]").val();
      var plot = $(div).find("select[name=backup_plot]").val();
      var interval = $(div).find("select[name=backup_interval]").val();
      var time = $(div).find("input[name=backup_time]").val();
      backup["disk"] = name;
      backup["plot"] = plot;
      backup["interval"] = interval;
      backup["backup_time"] = time;
      params.push(backup);
    }
    $("#backups").val(JSON.stringify(params))
    generate_ajax_post({
        form: "#form_backup",
        btn: "#form_backup_btn",
        pjax_container: false,
        onSuccess: function(response){
            $("section.content").prepend(response.data.messages_tmpl);
            $("#form_backup").parent().html(response.data.tmpl);
        },
        onTimeout: function(){ do_form_backup();}
    })
  }
  function change_interval(_this){
    var plot = $(_this).val()
    var interval_title = $(_this).parent().parent().parent().find("div[name=interval_title]");
    var backup_interval = interval_title.find("select[name=backup_interval]");
    // console.log(interval_title)
    // console.log(backup_interval)
    if (plot == "天"){
      // $(backup_interval).css("display", "none")
      interval_title.css("display", "none");
      backup_interval.html("")
      // console.log(backup_interval.css("display"))
    }else if (plot == "周"){
      // $(backup_interval).css("display", "")
      interval_title.css("display", "");
      show_week_options(backup_interval)
      // console.log(backup_interval.css("display"))
    }else if (plot == "月"){
      //backup_interval.css("display", "")
      interval_title.css("display", "");
      show_month_options(backup_interval)
      // console.log(backup_interval.css("display"))
    }
  }
  function show_week_options(backup_interval){
    backup_interval.html($("#week_options").html())
  }
  function show_month_options(backup_interval){
    backup_interval.html($("#month_options").html())
  }
  $(function(){
    init_timepicker();
  });
  function init_timepicker(){
      $(".timepicker").timepicker({
          showInputs: false,
          defaultTime: false,
          showMeridian: false,
          showSeconds: true
      });
  }
  </script>
