{% import "admin/base/base_macros.html" as base with context %}
{% import "admin/base/macros/pro_macros.html" as pro_macro with context %}

        {% if not action_url %}
          {% set action_url = reverse_url('apply.publish.add') %}
        {% endif %}
        <!-- form start -->
        <form id="form_publish" data-pjax action="{{ action_url }}" class="form-horizontal" method="POST">
        {{ handler.xsrf_form_html() }}
          <div class="box-body">
          {% if pro_publish_res %}
          {% set pro_publish = pro_publish_res.data %}
          {% set ST = STATUS_PRO_TABLES.get(pro_publish.status) %}
          {% if pro_publish %}
          {#{ base.tip_message(message="您{}的互联网发布内容{}，{}。".format(ST.act_value, ST.value, ST.todo_value), level=ST.level) }#}
          {% endif %}
          {% else %}
          {% set pro_publish = {} %}
          {% endif %}
          {% if handler.request.method == "POST" %}
            {% set publish_id = handler.args.get("publish_id", "") %}
            {% set pro_id = handler.args.get("pro_id", "") %}
            {% set domain = handler.args.get("domain", "") %}
            {% set domain_port = handler.args.get("domain_port", "") %}
            {% set network_address = handler.args.get("network_address", "") %}
            {% set network_port = handler.args.get("network_port", "") %}
            {% set use_ssl = handler.args.get("use_ssl", "-1")|string %}
            {% set status = handler.args.get("status", "0")|int %}
          {% else %}
            {% set publish_id = pro_publish.id if pro_publish else "" %}
            {% set pro_id = pro_publish.pro_id if pro_publish else "" %}
            {% set domain = pro_publish.domain if pro_publish else "" %}
            {% set domain_port = pro_publish.domain_port if pro_publish else "" %}
            {% set network_address = pro_publish.network_address if pro_publish else "" %}
            {% set network_port = pro_publish.network_port if pro_publish else "" %}
            {% set use_ssl = pro_publish.use_ssl|string if pro_publish else "" %}
            {% set status = pro_publish.status|int if pro_publish else "" %}
          {% endif %}
          <input type="hidden" name="publish_id" value="{{ publish_id }}" />

          {% if pro_publish_res.return_code == 0 %}
            {% set pro_publish = pro_publish_res.data %}
            {% if pro_publish.status == STATUS_PRO_TABLES.REFUSED %}
            <div class="form-group has-warning">
              <label for="status" class="col-sm-3 control-label">申请状态</label>
              <div class="col-sm-9">
                <p class="form-control-static">
                  <span class="label label-{{ STATUS_PRO_TABLES.get(pro_publish.status).level }}">{{ STATUS_PRO_TABLES.get(pro_publish.status).value }}</span>
                </p>
                <label for="status" class="control-label">{{ pro_publish.reason }}</label>
              </div>
            </div>
            {% endif %}
          {% endif %}
          {{ pro_macro.get_pro_info_select(pro_res=pro_publish_res, pro_id=pro_id) }}
          {{ base.form_input("域名", "domain", res=pro_publish_res, value=domain,
                check_codes=[ERR.PRO_PUBLISH_DOMAIN_EMPTY_ERR, ERR.PRO_PUBLISH_DOMAIN_INVALID_ERR], placeholder='[http://]www.smallpay.com') }}
          {{ base.form_input("互联网端口", "domain_port", res=pro_publish_res, value=domain_port,
                check_codes=[ERR.PRO_PUBLISH_DOMAIN_PORT_EMPTY_ERR, ERR.PRO_PUBLISH_DOMAIN_PORT_INVALID_ERR], placeholder='80') }}
          {{ base.form_input("内网发布地址", "network_address", res=pro_publish_res, value=network_address,
                check_codes=[ERR.PRO_PUBLISH_NETWORK_ADDRESS_EMPTY_ERR, ERR.PRO_PUBLISH_NETWORK_ADDRESS_INVALID_ERR], placeholder='格式：[http://IP:PORT/ROOT_PATH] 例：http://127.0.0.1:8080/smallpay') }}
          {#{ base.form_input("内网端口", "network_port", res=pro_publish_res, value=network_port,
                check_codes=[ERR.PRO_PUBLISH_NETWORK_PORT_EMPTY_ERR, ERR.PRO_PUBLISH_NETWORK_PORT_INVALID_ERR]) }#}
            <div class="form-group">
              <label for="loadbalance" class="col-sm-2 control-label">SSL卸载</label>
              <div class="radio col-sm-offset-2 col-sm-10">
                  <label>
                  <input type="radio" name="use_ssl" id="use_ssl" value="1"{% if use_ssl|int == 1 %} checked="checked"{% endif %}>
                    需要
                  </label>
              </div>
              <div class="radio col-sm-offset-2 col-sm-10">
                  <label>
                    <input type="radio" name="use_ssl" id="use_ssl" value="0"{% if use_ssl|int == 0 %} checked="checked"{% endif %}>
                    不需要
                  </label>
              </div>
            </div>
          </div>
          <div class="box-footer text-center">
            {% if not pro_publish %}
            <button type="button" id="form_publish_btn" onclick="do_form_publish()" class="btn btn-warning">提 交</button>
            {% elif pro_publish.status <= STATUS_PRO_TABLES.REVOKED %}
            <button type="button" id="form_publish_btn" onclick="do_form_publish()" class="btn btn-warning">提 交</button>
            {% elif pro_publish.status == STATUS_PRO_TABLES.APPLIED %}
            <button type="button" id="form_publish_btn" onclick="javascript:;" class="btn btn-info">受理中</button>
            {% elif pro_publish.status == STATUS_PRO_TABLES.CHECKED %}
            <button type="button" id="form_publish_btn" onclick="pro_table_do_confirm({_this: this, pro_table: 'pro_publish', ids: [{{ pro_publish.id }}]})" class="btn btn-warning">确 认</button>
            {% elif pro_publish.status == STATUS_PRO_TABLES.CONFIRMED %}
            <button type="button" id="form_publish_btn" onclick="javascript:;" class="btn btn-warning">已确认</button>
            <button type="button" id="form_publish_btn" onclick="do_form_publish()" class="btn btn-warning">重 新 提 交</button>
            {% endif %}
          </div><!-- /.box-footer -->
        </form>

<script type="text/javascript">
  function do_form_publish(){
    generate_ajax_post({
        form: "#form_publish",
        button: "#form_publish_btn",
        pjax_container: false,
        onSuccess: function(response){
            $("section.content").prepend(response.data.messages_tmpl);
            $("#form_publish").parent().html(response.data.tmpl);
        },
        onTimeout: function(){ do_form_publish();}
    })
  }
  $(function () {
    //Add text editor
    $("#content").wysihtml5();
  });
</script>
