{% import "admin/base/base_macros.html" as base with context %}

{% set pro_user = pro_user_res.data %}
<div class="box-body">
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">申请编号</label>
    <div class="col-sm-9">
      <p class="form-control-static">USR{{ "%04d" % pro_user.id }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="pro_id" class="col-sm-3 control-label">所属项目</label>
    <div class="col-sm-9">
      <p class="form-control-static">
      <i class="fa fa-cube"></i> {{ pro_user.project.name }}
      {% set ST = STATUS_RESOURCE.get(pro_user.project.last_apply.status) %}
      <span class='badge bg-{{ ST.bg_color }}'>{{ ST.value }}</span>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="pro_id" class="col-sm-3 control-label">所属环境</label>
    <div class="col-sm-9">
      <p class="form-control-static">
      <span class='badge bg-{{ env_colors[pro_user.project.env_id%(env_colors|length)] }}'>{{ pro_user.project.env.name }}</span>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">用户名</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{ pro_user.username }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">邮箱</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{ pro_user.email }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="is_enable" class="col-sm-3 control-label">用户类型</label>
    <div class="col-sm-9">
      <p class="form-control-static">
        {% set UT = PRO_USER_TYPES.get(pro_user.user_type) %}
        <span class='label label-{{ UT.level }}'>{{ UT.value }}</span>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="is_enable" class="col-sm-3 control-label">权限描述</label>
    <div class="col-sm-9">
      <p class="form-control-static">
        {{ pro_user.desc.replace("\n", "<br>") }}
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="is_enable" class="col-sm-3 control-label">是否可用</label>
    <div class="col-sm-9">
      <p class="form-control-static">
        {% set ST = STATUS_YESNO.get(pro_user.is_enable) %}
        <span class='label label-{{ ST.level }}'>{{ ST.value }}</span>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="create_time" class="col-sm-3 control-label">创建时间</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{ pro_user.create_time }} ({{ pro_user.create_time|getGoodTime }})</p>
    </div>
  </div>
  <div class="form-group">
    <label for="user_id" class="col-sm-3 control-label">创建者</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{ pro_user.user.username }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="checker_id" class="col-sm-3 control-label">审核者</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{ pro_user.checker.username }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="status" class="col-sm-3 control-label">申请状态</label>
    <div class="col-sm-9">
      <p class="form-control-static">
        {% set ST = STATUS_PRO_TABLES.get(pro_user.status) %}
        <span class='label label-{{ ST.level }}'>{{ ST.value }}</span>
      </p>
    </div>
  </div>
  {% if pro_user.status == STATUS_PRO_TABLES.REFUSED %}
  <div class="form-group has-warning">
    <label for="status" class="col-sm-offset-3 col-sm-9 control-label">
        权限用户拒绝原因:{{ pro_user.reason }}
    </label>
  </div>
  {% endif %}
  {% if pro_user.status == STATUS_PRO_TABLES.CHECKED %}
  <div class="form-group has-warning">
    <label for="status" class="col-sm-offset-3 col-sm-9 control-label">
        处理结果:{{ pro_user.reason }}
    </label>
  </div>
  {% endif %}
</div>
