
{% import "admin/base/base_macros.html" as base %}
  <!-- Horizontal Form -->
  <div>
    <!-- form start -->
    <form id="form_publish" data-pjax action="{{ reverse_url('apply.service.publish.add') }}" class="form-horizontal" method="POST">
    {{ handler.xsrf_form_html() }}
      <input type="hidden" name="pro_id" value="{{ pro_info_res.data.id }}">
      <div class="box-body">
      {% if publish_res %}
      {% set data = publish_res.data %}
      {% else %}
      {% set data = {} %}
      {% endif %}
      {% set domain = data.domain or handler.args.get("domain", "") %}
      {% set domain_port = data.domain_port or handler.args.get("domain_port", "") %}
      {% set network_address = data.network_address or handler.args.get("network_address", "") %}
      {% set network_port = data.network_port or handler.args.get("network_port", "") %}
      {% set use_vpn = data.use_vpn or handler.args.get("use_vpn", "-1") %}

      {{ base.form_input("域名", "domain", res=publish_res, value=domain,
            check_codes=[ERR.PRO_PUBLISH_DOMAIN_EMPTY_ERR, ERR.PRO_PUBLISH_DOMAIN_INVALID_ERR]) }}
      {{ base.form_input("互联网端口", "domain_port", res=publish_res, value=domain_port,
            check_codes=[ERR.PRO_PUBLISH_DOMAIN_PORT_EMPTY_ERR, ERR.PRO_PUBLISH_DOMAIN_PORT_INVALID_ERR]) }}
      {{ base.form_input("内网地址", "network_address", res=publish_res, value=network_address,
            check_codes=[ERR.PRO_PUBLISH_NETWORK_ADDRESS_EMPTY_ERR, ERR.PRO_PUBLISH_NETWORK_ADDRESS_INVALID_ERR]) }}
      {{ base.form_input("内网端口", "network_port", res=publish_res, value=network_port,
            check_codes=[ERR.PRO_PUBLISH_NETWORK_PORT_EMPTY_ERR, ERR.PRO_PUBLISH_NETWORK_PORT_INVALID_ERR]) }}
        <div class="form-group">
          <label for="loadbalance" class="col-sm-2 control-label">SSL卸载</label>
          <div class="radio col-sm-offset-2 col-sm-10">
              <label>
              <input type="radio" name="use_vpn" id="use_vpn" value="1"{% if use_vpn|int == 1 %} checked="checked"{% endif %}>
                需要
              </label>
          </div>
          <div class="radio col-sm-offset-2 col-sm-10">
              <label>
                <input type="radio" name="use_vpn" id="use_vpn" value="0"{% if use_vpn|int == 0 %} checked="checked"{% endif %}>
                不需要
              </label>
          </div>
        </div>
      </div>
      <div class="box-footer text-center">
        <button type="button" id="form_publish_btn" onclick="do_form_publish()" class="btn btn-info">提 交</button>
      </div><!-- /.box-footer -->
    </form>
  </div><!-- /.box -->
  <script type="text/javascript">
  $(function(){
    $(".select2").select2();
  })
  function do_form_publish(){
    generate_ajax_post({
      form: "#form_publish",
      btn: "#form_publish_btn"
    })
  }
  </script>
  
