{% import "admin/base/base_macros.html" as mbase with context %}
{% import "admin/base/macros/pro_macros.html" as pro_macro with context %}

    {% set res = pro_resource_apply_res or fee_res %}
{% if handler.request.method == "POST" %}
    {% set pro_id = handler.args.get('pro_id', '') %}
    {% set computer = handler.args.get('computer', '') %}
    {% set cpu = handler.args.get('cpu', '') %}
    {% set memory = handler.args.get('memory', '') %}
    {% set disk = handler.args.get('disk', '') %}
    {% set disk_backup = handler.args.get('disk_backup', '') %}
    {% set out_ip = handler.args.get('out_ip', '') %}
    {% set snapshot = handler.args.get('snapshot', '') %}
    {% set loadbalance = handler.args.get('loadbalance', '') %}
    {% set internet_ip = handler.args.get('internet_ip', '') %}
    {% set internet_ip_ssl = handler.args.get('internet_ip_ssl', '') %}
    {% set start_date = handler.args.get('start_date', '') %}
    {% set unit_fee = handler.args.get('unit_fee', '') %}
    {% set period = handler.args.get('period', '') %}
    {% set total_fee = handler.args.get('total_fee', '') %}
{% else %}
    {% set pro_resource_apply = pro_resource_apply_res.data %}
    {% set pro_id = pro_resource_apply.pro_id %}
    {% set computer = pro_resource_apply.computer %}
    {% set cpu = pro_resource_apply.cpu %}
    {% set memory = pro_resource_apply.memory %}
    {% set disk = pro_resource_apply.disk %}
    {% set disk_backup = pro_resource_apply.disk_backup %}
    {% set out_ip = pro_resource_apply.out_ip %}
    {% set snapshot = pro_resource_apply.snapshot %}
    {% set loadbalance = pro_resource_apply.loadbalance %}
    {% set internet_ip = pro_resource_apply.internet_ip %}
    {% set internet_ip_ssl = pro_resource_apply.internet_ip_ssl %}
    {% set start_date = pro_resource_apply.start_date %}
    {% set unit_fee = pro_resource_apply.unit_fee %}
    {% set period = pro_resource_apply.period %}
    {% set total_fee = pro_resource_apply.total_fee %}
{% endif %}

<!-- form start -->
<form id="resource_form" data-pjax action="{{ reverse_url('apply.resource.add') }}" class="form-horizontal" method="POST">
<div class="box-body">
    {{ handler.xsrf_form_html() }}
    {{ pro_macro.get_pro_info_select(pro_res=res, pro_id=pro_id, onchange="load_env()") }}
    <fieldset>
      <legend>资源配置</legend>

          <div class="form-group{% if res and res.return_code in [ERR.RES_COMPUTER_EMPTY_ERR, ERR.RES_COMPUTER_INVALID_ERR] %} has-warning{% endif %}">
            <label for="computer" class="col-sm-2 control-label">云主机数量</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="computer" name="computer" placeholder="10" value="{{ computer }}">
              <div class="input-group-unit">台</div>
            </div>
          {% if res and res.return_code in [ERR.RES_COMPUTER_EMPTY_ERR, ERR.RES_COMPUTER_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_CPU_EMPTY_ERR, ERR.RES_CPU_INVALID_ERR] %} has-warning{% endif %}">
            <label for="cpu" class="col-sm-2 control-label">CPU总量</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="cpu" name="cpu" placeholder="4" value="{{ cpu }}">
              <div class="input-group-unit">台</div>
            </div>
          {% if res and res.return_code in [ERR.RES_CPU_EMPTY_ERR, ERR.RES_CPU_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_MEMERY_EMPTY_ERR, ERR.RES_MEMERY_INVALID_ERR] %} has-warning{% endif %}">
            <label for="memory" class="col-sm-2 control-label">内存总量</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="memory" name="memory" placeholder="8" value="{{ memory }}">
              <div class="input-group-unit">GB</div>
            </div>
          {% if res and res.return_code in [ERR.RES_MEMERY_EMPTY_ERR, ERR.RES_MEMERY_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_DISK_EMPTY_ERR, ERR.RES_DISK_INVALID_ERR, ERR.RES_DISK_BACKUP_EMPTY_ERR, ERR.RES_DISK_BACKUP_INVALID_ERR] %} has-warning{% endif %}">
            <label for="disk" class="col-sm-2 control-label">云磁盘个数</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="disk" name="disk" placeholder="10" value="{{ disk }}">
              <div class="input-group-unit">个,</div>
              <div class="input-group-unit">其中</div>
              <input type="text" class="form-control" id="disk_backup" name="disk_backup" placeholder="10" value="{{ disk_backup }}">
              <div class="input-group-unit">个需要云盘备份</div>
            </div>
          {% if res and res.return_code in [ERR.RES_DISK_EMPTY_ERR, ERR.RES_DISK_INVALID_ERR, ERR.RES_DISK_BACKUP_EMPTY_ERR, ERR.RES_DISK_BACKUP_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_OUT_IP_EMPTY_ERR, ERR.RES_OUT_IP_INVALID_ERR] %} has-warning{% endif %}">
            <label for="ip" class="col-sm-2 control-label">外部IP数量</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="out_ip" name="out_ip" placeholder="8" value="{{ out_ip }}">
              <div class="input-group-unit">个</div>
            </div>
          {% if res and res.return_code in [ERR.RES_OUT_IP_EMPTY_ERR, ERR.RES_OUT_IP_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_SNAPSHOT_EMPTY_ERR, ERR.RES_SNAPSHOT_INVALID_ERR] %} has-warning{% endif %}">
            <label for="snapshot" class="col-sm-2 control-label">快照个数</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="snapshot" name="snapshot" placeholder="8" value="{{ snapshot }}">
              <div class="input-group-unit">个</div>
            </div>
          {% if res and res.return_code in [ERR.RES_SNAPSHOT_EMPTY_ERR, ERR.RES_SNAPSHOT_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_LOADBALANCE_EMPTY_ERR, ERR.RES_LOADBALANCE_INVALID_ERR] %} has-warning{% endif %}">
            <label for="loadbalance" class="col-sm-2 control-label">应用负载均衡</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="loadbalance" name="loadbalance" placeholder="10" value="{{ loadbalance }}">
              <div class="input-group-unit">个vSERVER</div>
            </div>
          {% if res and res.return_code in [ERR.RES_LOADBALANCE_EMPTY_ERR, ERR.RES_LOADBALANCE_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_INTERNET_IP_EMPTY_ERR, ERR.RES_INTERNET_IP_INVALID_ERR, ERR.RES_INTERNET_IP_SSL_EMPTY_ERR, ERR.RES_INTERNET_IP_SSL_INVALID_ERR] %} has-warning{% endif %}">
            <label for="internet_ip" class="col-sm-2 control-label">互联网IP</label>
            <div class="col-sm-6 input-group">
              {% include "admin/apply/resource/_env_internet_ip_types.html" %}
            </div>
          {% if res and res.return_code in [ERR.RES_INTERNET_IP_EMPTY_ERR, ERR.RES_INTERNET_IP_INVALID_ERR, ERR.RES_INTERNET_IP_SSL_EMPTY_ERR, ERR.RES_INTERNET_IP_SSL_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group{% if res and res.return_code in [ERR.RES_START_DATE_EMPTY_ERR, ERR.RES_START_DATE_INVALID_ERR] %} has-warning{% endif %}">
            <label for="start_date" class="col-sm-2 control-label">云主机启用时间</label>
            <div class="col-sm-6 input-group">
              <div class="input-group">
                <input type="text" class="form-control pull-right fa-calendar" id="start_date" name="start_date" value="{{ start_date|default('', True) }}" readonly>
              </div><!-- /.input group -->
            </div>
          {% if res and res.return_code in [ERR.RES_START_DATE_EMPTY_ERR, ERR.RES_START_DATE_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>
    </fieldset>
    <fieldset>
      <legend>产生费用 </legend>
          {% set res = pro_resource_apply_res or fee_res %}
          {% if res and res.return_code == 0 %}
          {% set unit_fee = res.data.unit_fee %}
          {% set total_fee = res.data.total_fee %}
          {% endif %}

          <div class="form-group{% if res and res.return_code in [ERR.RES_PERIOD_EMPTY_ERR, ERR.RES_PERIOD_INVALID_ERR] %} has-warning{% endif %}">
            <label for="unit_fee" class="col-sm-2 control-label">本月费用</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="unit_fee" name="unit_fee" placeholder="10" value="{{ unit_fee }}" readonly>
              <div class="input-group-unit">元/月</div>
              <div class="input-group-unit">X</div>
              <input type="text" class="form-control" id="period" name="period" placeholder="12" value="{{ period }}">
              <div class="input-group-unit">月</div>
            </div>
          {% if res and res.return_code in [ERR.RES_PERIOD_EMPTY_ERR, ERR.RES_PERIOD_INVALID_ERR] %}
          <label class="control-label col-sm-offset-2" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
          {% endif %}
          </div>

          <div class="form-group">
            <label for="total_fee" class="col-sm-2 control-label">合计费用</label>
            <div class="col-sm-6 input-group">
              <input type="text" class="form-control" id="total_fee" name="total_fee" placeholder="10" value="{{ total_fee }}" readonly>
              <div class="input-group-unit">元</div>
            </div>
          </div>

    </fieldset>
  </div>
  <div class="box-foot text-center">
    <button type="button" id="generate_fee_btn" onclick="generate_fee()" class="btn btn-warning btn-sm">试算</button>
    <button id="do_apply_btn" type="button" onclick="do_apply()" class="btn btn-{{ STATUS_RESOURCE.applied.level }}">提交申请</button>
  </div>
</form>
  <script type="text/javascript">
  $('.fa-calendar').datepicker({ format: 'yyyy-mm-dd 00:00:00', autoclose: true});
  function load_env(){
    console.log("load_env");
    var pro_id = $("#pro_id").val()
    $.ajax({
        url: '{{ reverse_url("apply.resource.load_env") }}?pro_id='+pro_id,
        type: "GET",
        dataType: "JSON",
        success: function(response){
            if(check_response(response)){
                $.each(response.data.env_resource_value, function(key, value){
                    $("#"+key).val(value);
                })
                $("#internet_ip").parent().html(response.data.env_internet_ip_types_tmpl)
                $("#internet_ip").select2();
            }
        }
    })
  }
  function add_res(){
    $('#panel_res').css('display', 'block').removeClass('box-info').addClass('box-warning').find('h3.box-title').text('资源申请');
    $('#submit').removeClass('btn-info').addClass('btn-warning');
  }
  function edit_res(){
    $('#panel_res').css('display', 'block').removeClass('box-warning').addClass('box-info').find('h3.box-title').text('资源调整');
    $('#submit').removeClass('btn-warning').addClass('btn-info');
  }
  function check_form(){
    return true;
  }
  function generate_fee(){
    generate_ajax_post({
        form: "#resource_form",
        btn: "#generate_fee_btn",
        // method: "GET",
        url: '{{ reverse_url("apply.resource.generate_fee") }}',
    })
  }
  function do_apply(){
    generate_ajax_post({
      form: "#resource_form",
      button: "#do_apply_btn",
      pjax_container: false,
      onSuccess: function(response){
        $("section.content").prepend(response.data.messages_tmpl);
        $("#resource_form").parent().html(response.data.tmpl);
      },
      onTimeout: function(){ do_apply(); }
    })
  }
  function do_re_apply(){
    generate_ajax_post({
      form: "#resource_form",
      button: "#do_re_apply_btn",
      onSuccess: function(response){
        // do_notice_checker();
      },
      onTimeout: function(){ do_re_apply(); }
    })
  }
  function do_delete(){
    generate_ajax_post({
      form: "#resource_delete_form",
      button: "#do_delete_btn",
      method: "DELETE",
      onSuccess: function(response){
        // do_notice_checker();
      },
      onTimeout: function(){ do_delete(); }
    })
  }
  function do_revoke(){
    generate_ajax_post({
      form: "#resource_form",
      button: "#do_revoke_btn",
      onSuccess: function(response){
        // do_notice_checker();
      },
      onTimeout: function(){ do_revoke(); }
    })
  }
  </script>
