{% set theme = "info" %}
{% if result.return_code == 0 %}
  {% set title = "更新" %}
  {% set data = result.data %}
  {% set theme = "warning" %}
  {% if data.pt_user %}
    {% set pt_user = data.pt_user %}
  {% else %}
    {% set pt_user = {} %}
  {% endif %}
  {% set action_name = "pt_user.info" %}
{% else %}
  {% set title = "新增" %}
  {% set data = {} %}
  {% set pt_user = {} %}
  {% set action_name = "pt_user" %}
{% endif %}
<!-- Horizontal Form -->
<div class="box box-{{ theme }}">
  <div class="box-header with-border">
    <h3 class="box-title">{{ title }}用户</h3>
    <!-- tools box -->
    <div class="pull-right box-tools">
      <button class="btn btn-{{ theme }} btn-sm" data-widget="remove" data-toggle="tooltip" onclick="hide_right();" title="Remove"><i class="fa fa-times"></i></button>
    </div><!-- /. tools -->
  </div><!-- /.box-header -->
  <!-- form start -->
  <form data-pjax action="{{ reverse_url(action_name) }}" class="form-horizontal" method="POST" onsubmit="return check_form();">
  {{ handler.xsrf_form_html() }}
    <input type="hidden" name="user_id" value="{{ pt_user.id }}">
    <div class="box-body">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="email" name="email" placeholder="请填写用户名" value="{{ pt_user.email }}">
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">手机号</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="mobile" name="mobile" placeholder="请填写用户名" value="{{ pt_user.mobile }}">
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="username" name="username" placeholder="请填写用户名" value="{{ pt_user.username }}">
        </div>
      </div>
      <div class="form-group">
        <label for="owner" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" id="password" placeholder="请填写默认密码(如：111111)" value="">
        <input type="hidden" class="form-control" name="password" placeholder="请填写默认密码(如：111111)" value="">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="is_enable" name="is_enable" checked="checked"> 是否可用
            </label>
          </div>
        </div>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <!-- <button type="submit" class="btn btn-default">取消</button> -->
      <button type="submit" class="btn btn-{{ theme }} pull-right">提交</button>
    </div><!-- /.box-footer -->
  </form>
</div><!-- /.box -->
<script type="text/javascript">
function check_form(){
    var password = $("input[id=password]").val();
    $("input[name=password]").val(MD5(password));
    hide_right();
    return true;
}
</script>
