
<!-- <script src="{{ handler.static_url('default/plugins/iCheck/icheck.min.js') }}"></script> -->
<script type="text/javascript">
$(function(){
  $('input[type="checkbox"], input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-red',
      radioClass: 'iradio_flat-green'
    });
})
</script>
{% set theme = "warning" %}
{% set data = result.data %}
<div class="box box-{{ theme }}">
  <div class="box-header with-border">
    <h3 class="box-title">用户角色</h3>
    <!-- tools box -->
    <div class="pull-right box-tools">
      <button class="btn btn-{{ theme }} btn-sm" data-widget="remove" data-toggle="tooltip" onclick="hide_right();" title="Remove"><i class="fa fa-times"></i></button>
    </div><!-- /. tools -->
  </div><!-- /.box-header -->
  <!-- form start -->
  <form data-pjax action="{{ reverse_url(action_name) }}" class="form-horizontal" method="POST" onsubmit="return check_form();">
  {{ handler.xsrf_form_html() }}
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <div class="box-body">
    {% for role in data.roles %}
      <div class="form-role">
        <div class="col-xs-offset-2 col-xs-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="role_id" name="role_id"{% if data.role_obj.get(role.id|string) %} checked="checked"{% endif %} value="{{ role.id }}"> {{ role.name }}
            </label>
          </div>
        </div>
      </div>
    {% endfor %}
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-default">取消</button>
      <button type="submit" class="btn btn-{{ theme }} pull-right">提交</button>
    </div><!-- /.box-footer -->
  </form>
</div><!-- /.box -->
<script type="text/javascript">
function check_form(){
  hide_right();
  return true;
}
</script>