
<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{ handler }}
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 权限管理</a></li>
            <li class="active">{{ handler }}</li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content">
          {% include "admin/base/base_messages.html" %}
          <div class="row">
            <div id="left_div" class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">可使用的{{ handler }}列表</h3>
                  <div class="box-tools">
                    <form data-pjax action="{{ reverse_url('pt_user') }}" method="GET">
                        <div class="input-group" style="width: 300px;">
                          <input type="text" name="search" class="form-control input-sm pull-right" hide_column placeholder="搜索关键字">
                          <div class="input-group-btn">
                            <button class="btn btn-sm btn-default" hide_column><i class="fa fa-search"></i>查询</button>
                            <button type="button" class="btn btn-sm btn-warning" onclick="load_right();show_right()" hide_column><i class="fa fa-plus"></i>添加</button>
                          </div>
                        </div>
                    </form>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <th>ID</th>
                      <th>名称</th>
                      <th hide_column>是否可用</th>
                      <th hide_column>创建时间</th>
                      <th>操作</th>
                    </tr>
                    {% for user in result.data %}
                    <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.username or user.email or user.mobile }}</td>
                      <td hide_column>{% if user.is_enable == 1 %}<span class="label label-success">是</span>{% else %}<span class="label label-warning">否</span>{% endif %}</td>
                      <td hide_column>{{ user.create_time }}</td>
                      <td>
                        <div class="input-group-btn" style="width:150px">
                          <button type="button" class="btn btn-sm btn-warning" onclick="load_right({op:'update', user_id:'{{ user.id }}'});show_right();"><i class="fa fa-edit"></i> 修改</button>
                          <button type="button" class="btn btn-sm btn-danger" onclick="confirm_delete('{{ user.id }}');"><i class="fa fa-remove"></i> 删除</button>
                          <button type="button" class="btn btn-sm btn-warning" onclick="load_right({op:'select_roles', user_id:'{{ user.id }}'});show_right({left_div_class:5});"><i class="fa fa-edit"></i> 用户角色</button>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
            <div id="right_div" class="col-xs-5 connectedSortable" style="display:none">
              {% include "admin/pt_user/_index_form.html" %}
            </div>
          </div><!-- /.row -->
        </section><!-- /.content -->
<script type="text/javascript">
function load_right(options){
  show_loading()
  $("#left_div").find("[hide_column]").css("display", "");
  options = options || {};
  var op = options.op || "";
  if (op == "update"){
      var user_id = options.user_id;
      $("#right_div").load("{{ reverse_url('pt_user.info') }}?user_id="+user_id).css("display", "none");
  }else if (op == "select_roles"){
      var user_id = options.user_id;
      $("#left_div").find("[hide_column]").css("display", "none");
      // $("#left_div").find("[hide_column]").css("display", "none");
      $("#right_div").load("{{ reverse_url('pt_user.role_info') }}?user_id="+user_id).css("display", "none");
  }else{
      $("#right_div").load("{{ reverse_url('pt_user.info') }}").css("display", "none");
  }
  hide_loading();
}
function confirm_delete(user_id){
  $.ajax({
    url: '{{ reverse_url('pt_user.delete') }}?user_id='+user_id,
    type: 'GET',
    dataType: 'html',
    success: function(response){
      confirmBox({message: response, buttons: []})
    }
  })
}
</script>
