

        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{ handler }}
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">{{ handler }}</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          {% include "admin/base/base_messages.html" %}
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">
                    <form data-pjax action="{{ reverse_url('apply.publish') }}" method="GET">
                    <div class="input-group" style="width: 300px;">
                      <input type="text" name="search" class="form-control input-sm pull-right" placeholder="用户名" value="{{ handler.args.get('search', '')}}">
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        <a data-pjax href="{{ reverse_url('apply.publish.add') }}" class="btn btn-sm btn-warning"><i class="fa fa-plus"></i> 发布新互联网需求</a>
                      </div>
                    </div>
                    </form>
                  </h3>
                  <div class="box-tools">
                    <a data-pjax href="{{ reverse_url('apply.publish') }}" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></a>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-hover table-striped table-bordered">
                    <tr>
                      <th>用户编号</th>
                      <th>所属项目</th>
                      <th>互联网地址</th>
                      <th>内网地址</th>
                      <th>状态</th>
                      <th>创建时间</th>
                      <th>操作</th>
                    </tr>
                    {% for publish in page.object_list %}
                    <tr>
                      <td>{{ publish.id }}</td>
                      <td>{{ publish.project.name }}</td>
                      <td>{{ publish.domain }}:{{ publish.domain_port }}</td>
                      <td>{{ publish.network_address }}:{{ publish.network_port }}</td>
                      <td><span class="label label-{{ STATUS_PRO_TABLES.get(publish.status).level }}">{{ STATUS_PRO_TABLES.get(publish.status).value }}, {{ STATUS_PRO_TABLES.get(publish.status).todo_value }}</span>
                      {% if publish.status == STATUS_PRO_TABLES.CHECKED %}
                      <a class="btn btn-warning btn-xs" href="javascript:;" style="color:#FFFFFF" onclick="pro_table_do_confirm({_this:this, pro_table:'pro_publish', ids:[{{ publish.id }}]})"> 确认</a>
                      {% endif %}
                      </td>
                      <td>{{ publish.create_time|getGoodTime }}</td>
                      <td>
                        <div class="input-group-btn">
                          <a data-pjax href="{{ reverse_url('apply.publish.detail') }}?id={{ publish.id }}" class="btn btn-xs btn-info"><i class="fa fa-eye"></i> 查看</a>
                          <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> 删除</button>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div><!-- /.box-body -->
                  {% include "admin/base/base_paginator.html" %}
              </div><!-- /.box -->
            </div>
          </div><!-- /.row -->
        </section><!-- /.content -->
        <script type="text/javascript">
        function do_del_env(){
          var checked_values = $getCheckValues("#env_list_res")
          var names = []
          for(var i in checked_values){
            names.push($("input[id=env_"+checked_values[i]+"]").next().text());
          }
          confirmBox({
              message: "确定删除事件"+names.join("、")+"吗？",
              onConfirm: function(){
                generate_ajax_post({
                    form: "#env_res_form",
                    method: "DELETE",
                    button: "#env_res_del_btn",
                    onSuccess: function(response){
                      $("#confirmBox").tClose()
                    }
                })
              }
          })
        }
        </script>
