{% import "admin/apply/macro_index_page_search.html" as macro_index_page_search with context %}

{% include "admin/base/base_bread.html" %}

        <!-- Main content -->
        <section class="content">
          {% include "admin/base/base_messages.html" %}
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">
                  {{ macro_index_page_search.search('apply.publish', 'apply.publish.add', '互联网需求') }}
                  </h3>
                  <div class="box-tools">
                    <a data-pjax href="{{ reverse_url('apply.publish') }}" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></a>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-hover table-striped table-bordered">
                    <tr>
                      <th>编号</th>
                      <th>所属项目</th>
                      <th>互联网地址</th>
                      <th>内网地址</th>
                      <th>状态</th>
                      <th>创建时间</th>
                      <th style="width:10%">操作</th>
                    </tr>
                    {% for publish in page.object_list %}
                    <tr>
                      <td>
                      {% if publish.status in [STATUS_PRO_TABLES.CHECKED, STATUS_PRO_TABLES.REFUSED] %}
                      <i class="fa fa-circle text-{{ STATUS_PRO_TABLES.get(publish.status).level }}"></i>
                      {% endif %}
                      PUB{{ "%04d" % publish.id }}
                      </td>
                      <td>{{ publish.project.name }}</td>
                      <td>{{ publish.domain }}:{{ publish.domain_port }}</td>
                      <td>{{ publish.network_address }}:{{ publish.network_port }}</td>
                      <td><span class="label label-{{ STATUS_PRO_TABLES.get(publish.status).level }}">{{ STATUS_PRO_TABLES.get(publish.status).value }}, {{ STATUS_PRO_TABLES.get(publish.status).todo_value }}</span>
                      {% if publish.status == STATUS_PRO_TABLES.CHECKED %}
                      <a class="btn btn-warning btn-xs" href="javascript:;" style="color:#FFFFFF" onclick="pro_table_do_confirm({_this:this, pro_table:'pro_publish', ids:[{{ publish.id }}]})"> 确认</a>
                      {% endif %}
                      </td>
                      <td>{{ publish.create_time|getGoodTime }}</td>
                      <td>
                        <div class="input-group-btn">
                          <a data-pjax href="{{ reverse_url('apply.publish.detail') }}?id={{ publish.id }}" class="btn btn-xs btn-info"><i class="fa fa-eye"></i> 查看</a>
                          <a data-pjax href="{{ reverse_url('apply.publish.edit') }}?id={{ publish.id }}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i> 编辑</a>
                          <button class="btn btn-xs btn-danger" id="form_del_pro_publish_{{ publish.id }}_btn" onclick="do_del_pro_publish('{{ publish.id }}', '{{ publish.domain }}:{{ publish.domain_port }}')"><i class="fa fa-trash"></i> 删除</button>
                          <form id="form_del_pro_publish_{{ publish.id }}" action="{{ reverse_url('apply.publish.del') }}">
                          {{ handler.xsrf_form_html() }}
                          <input type="hidden" name="id" value="{{ publish.id }}">
                          </form>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div><!-- /.box-body -->
                  {% include "admin/base/base_paginator.html" %}
              </div><!-- /.box -->
            </div>
          </div><!-- /.row -->
        </section><!-- /.content -->
        <script type="text/javascript">
        function do_del_pro_publish(id, name){
          confirmBox({
              message: "确定删除互联网发布需求"+name+"吗？",
              onConfirm: function(){
                generate_ajax_post({
                    form: "#form_del_pro_publish_"+id,
                    button: "#form_del_pro_publish_"+id+"_btn",
                    onSuccess: function(response){
                      $("#confirmBox").tClose();
                    }
                })
              }
          })
        }
        </script>
