
{% from "admin/base/base_macros.html" import get_task_module with context %}
{% from "admin/base/base_macros.html" import get_profile with context %}
{% from "admin/base/base_macros.html" import get_history_module with context %}

{% import "admin/base/base_macros.html" as base %}
        {% set current_user = handler.current_user %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            个人信息
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">User profile</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          {% include "admin/base/base_messages.html" %}
          <div class="row">
            <div class="col-md-3">
              <div class="flip-container">
              <div class="card" id="user_profile_card">
                <figure class="front">
                  {% include "admin/profile/profile/_profile_index.html" %}
                </figure>
                <figure class="back">
                  {% include "admin/profile/profile/_profile_form.html" %}
                </figure>
              </div>
              </div>

              <!-- About Me Box -->
              {#
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">About Me</h3>
                </div> <!-- /.box-header -->
                <div class="box-body">
                  {% for act in act_histories_res.data %}
                  <p class="text-muted">{{ act.desc }}</p>
                  <hr>
                  {% endfor %}
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              #}
            </div><!-- /.col -->
            <div class="col-md-9">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#activity" data-toggle="tab">待处理任务列表</a></li>
                  <li><a href="#timeline" data-toggle="tab">历史操作列表</a></li>
                  <!--li><a href="#settings" data-toggle="tab">Settings</a></li-->
                </ul>
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    {# 该页面改为websocket+redis pub/sub推送数据方式 #}
                    {#
                    <div class="post">
                    加载数据中
                    </div>
                    #}
                    
                    {#% set task_list = apply_tasks_res.data %#}
                    {% set last_apply = last_apply_res.data %}
                    {% if task_list|length <= 0 %}
                      {% if "pro_resource_apply.view" in current_user.current_perms %}
                        <div class="post">
                        {% if last_apply %}
                          {% if last_apply.status >= STATUS_RESOURCE.CONFIRMPAYED %}
                            您提交的申请已受理完毕，<a data-pjax href="{{ reverse_url('guide') }}">继续创建新项目</a>
                          {% else %}
                            您提交的申请已受理，请耐心等待。
                          {% endif %}
                        {% else %}
                        还没有创建项目？<a data-pjax href="{{ reverse_url('guide') }}">去创建</a>
                        {% endif %}
                        </div>
                      {% elif "pro_resource_apply.check" in current_user.current_perms %}
                        <div class="post">
                        还没有用户提交申请
                        </div>
                      {% endif %}
                    {% endif %}
                    {% for task in task_list %}
                      {% if "pro_resource_apply.view" in current_user.current_perms %}
                        {{ get_task_module(task, STATUS_RESOURCE, user=task.user, imchecker=False) }}
                      {% elif "pro_resource_apply.check" in current_user.current_perms %}
                        {{ get_task_module(task, STATUS_RESOURCE, user=task.user, imchecker=True) }}
                      {% endif %}
                    {% endfor %}
                    {% for pro_user in pro_user_list %}
                      {{ base.pro_table_profile_task(pro_user, imchecker=imchecker, STATUS_PRO_TABLES=STATUS_PRO_TABLES, handler=handler) }}
                    {% endfor %}
                    {% for pro_publish in pro_publish_list %}
                    {{ base.pro_table_profile_task(pro_publish, imchecker=imchecker, STATUS_PRO_TABLES=STATUS_PRO_TABLES, handler=handler) }}
                    {% endfor %}
                    {% for pro_balance in pro_balance_list %}
                    {{ base.pro_table_profile_task(pro_balance, imchecker=imchecker, STATUS_PRO_TABLES=STATUS_PRO_TABLES, handler=handler) }}
                    {% endfor %}
                    {% for pro_backup in pro_backup_list %}
                      {{ base.pro_table_profile_task(pro_backup, imchecker=imchecker, STATUS_PRO_TABLES=STATUS_PRO_TABLES, handler=handler) }}
                    {% endfor %}
                  </div><!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <ul class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <li class="time-label">
                        <span class="bg-red">
                          {% set act_histories = act_histories_res.data %}
                          {% if act_histories.count() > 0 %}
                            {% set last_act = act_histories[0] %}
                            {{ last_act.create_time }}
                          {% endif %}
                        </span>
                      </li>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      {% if act_histories.count() > 10 %}
                        {% for act in act_histories_res.data[:5] %}
                        {{ get_history_module(act) }}
                        {% endfor %}
                      <li>
                        <i class="fa fa-envelope bg-aqua"></i>
                        <div class="timeline-item">
                          <span class="time"></span>
                          <h3 class="timeline-header no-border"> ...  </h3>
                        </div>
                      </li>
                        {% for act in act_histories_res.data[-5:] %}
                        {{ get_history_module(act) }}
                        {% endfor %}
                      {% else %}

                        {% for act in act_histories_res.data %}
                        {{ get_history_module(act) }}
                        {% endfor %}
                      {% endif %}
                      <!-- timeline time label -->
                      <li class="time-label">
                        <span class="bg-green">
                          {% set act_histories = act_histories_res.data %}
                          {% if act_histories.count() > 0 %}
                            {% set first_act = act_histories[-1] %}
                            {{ first_act.create_time }}
                          {% endif %}
                        </span>
                      </li>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <!-- END timeline item -->
                      <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                      </li>
                    </ul>
                  </div><!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputName" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputExperience" class="col-sm-2 control-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputSkills" class="col-sm-2 control-label">Skills</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
              </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->
          </div><!-- /.row -->

        </section><!-- /.content -->
        <script type="text/javascript">
        // $(function(){
        //     ws_pubsub.send("on_init_profile_tasks")
        // })
        // function on_init_profile_tasks(response){
        //   $("#activity").html(response.html)
        // }
        function do_confirm_start_date(){
          generate_ajax_post({
              form: "#task_confirm_form",
              button: "#do_confirm_btn",
              //onSuccess: function(response){
              //  send_init_message();
              //},
              onTimeout: function(){ do_confirm_start_date();}
          })
        }
        // function do_flip_card(){
        //   if($("#card").hasClass("flipped")){
        //     $("#card").removeClass("flipped");
        //   }else{
        //     $("#card").addClass("flipped");
        //   }
        // }
        function do_profile(options){
          generate_ajax_post({
              pjax_container: false,
              form: "#profile_form",
              button: "#profile_form_btn",
              onSuccess: function(response){
                // console.log(response)
                $("#card").find("figure.front").html(response.data.tmpl);
                var user = response.data.user;
                $("#head_current_user").text(user.username || user.email || user.mobile);
                do_flip_card()
              }//,
              //onTimeout: function(){ do_profile();}
          })
        }
        </script>
