{% import "admin/base/macros/pro_macros.html" as pro_macro with context %}
{% macro search(reverse_url_form="", reverse_url_add="", name="") -%}
<form data-pjax action="{{ reverse_url(reverse_url_form) }}" method="GET">
  <div class="input-group col-sm-5" style="width: 500px;">
    <div class="input-group input-group-sm row">
      <div class="col-md-6" style="padding-right:0px">
        <input type="text" name="search" class="form-control input-sm pull-right" placeholder="用户名" value="{{ handler.args.get('search', '')}}">
      </div>
      <div class="col-md-6" style="padding-left:0px; max-height: 30px">
        {{ pro_macro.select_pro_table_status(status=handler.args.get("status", -3)) }}
      </div>
    </div>
    <div class="input-group-btn">
      <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i> 搜索</button>
      <a data-pjax href="{{ reverse_url(reverse_url_add) }}" class="btn btn-sm btn-warning"><i class="fa fa-plus"></i> 创建新{{ name }}</a>
    </div>
  </div>
</form>
{%- endmacro %}