{% import "admin/base/macros/pro_macros.html" as pro_macro with context %}
{% macro search(reverse_url_form="", reverse_url_add="", name="", ST="STATUS_PRO_TABLES",input_placeholder="关键字") -%}

<form data-pjax class="form-inline" action="{{ reverse_url(reverse_url_form) }}" method="GET">
  {#% if handler.args.get("pro_id") %}
  <div class="form-group">
    <label class="sr-only"></label>
    <p class="form-control-static input-group-sm">
      <a data-pjax href="{{ reverse_url('apply.project.detail') }}?pro_id={{ handler.args.get("pro_id") }}" class="btn btn-warning  btn-flat"><i class="fa fa-reply"></i> 返回 [<i class="fa fa-cube"></i>项目详情]</a>
    </p>
  </div>
  {% endif %#}
  <div class="form-group">
    <label class="sr-only">Email</label>
    <p class="form-control-static input-group-sm">
      <a data-pjax href="{{ reverse_url(reverse_url_add) }}" class="btn btn-warning  btn-flat"><i class="fa fa-plus"></i> 创建新{{ name }}</a>
    </p>
  </div>
  <div class="form-group">
    <label class="sr-only">Email</label>
    <p class="form-control-static input-group-sm">
      {% if ST == "STATUS_PRO_TABLES" %}
        {{ pro_macro.select_pro_table_status(status=handler.args.get("status", -3)) }}
      {% else %}
        {{ pro_macro.select_pro_resource_status(status=handler.args.get("status", -3)) }}
      {% endif %}
    </p>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <span class="input-group-btn">
      </span>
        <input type="text" name="search" class="form-control" placeholder="{{ input_placeholder }}" value="{{ handler.args.get('search', '')}}">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-info btn-flat" type="button"><i class="fa fa-search"></i> 搜索</button>
        </span>
    </div><!-- /input-group -->
  </div>
  <!-- <button type="submit" class="btn btn-default">Confirm identity</button> -->
</form>

{%- endmacro %}