
                    <div class="btn-group">
                      {% if current_res_status|int == STATUS_RESOURCE.APPLIED %}
                      <button onclick="do_resource_action({action:'{{ STATUS_RESOURCE.checked.value_en }}'});" class="btn btn-sm btn-{{ STATUS_RESOURCE.checked.level }}"><i class="fa fa-check"></i>   审核通过</button>
                      <button onclick="do_refuse();" class="btn btn-sm btn-{{ STATUS_RESOURCE.refused.level }}"><i class="fa fa-times"></i>   拒绝申请</button>
                      {% elif current_res_status|int == STATUS_RESOURCE.CHECKED %}
                      <button onclick="do_resource_action({action:'{{ STATUS_RESOURCE.applied.value_en }}'});" class="btn btn-sm btn-{{ STATUS_RESOURCE.applied.level }}"><i class="fa fa-check"></i>   撤销审核</button>
                      {% elif current_res_status|int == STATUS_RESOURCE.PAYED %}
                      <button onclick="do_resource_action({action: '{{ STATUS_RESOURCE.confirmpayed.value_en }}'});" class="btn btn-sm btn-{{ STATUS_RESOURCE.payed.level }}"><i class="fa fa-square-o"></i>   确认支付</button>
                      {% endif %}
                      <!--button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button-->
                    </div><!-- /.btn-group -->
                    <a data-pjax href="{{ handler.request.path }}{% if s %}?{{ s }}{% endif %}" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></a>

<div id="refuse" style="display: none">
<form>
<!-- <div class="form-group">
  <label for="message" class="col-sm-2 control-label"></label>
  <p for="message" class="form-group-static col-sm-8">确定拒绝所选<span></span>资源申请吗？</p>
</div> -->
<div class="form-group">
  <label class="col-sm-2 control-label"></label>
  <p for="message" class="col-sm-8 input-group">确定拒绝所选
  <span></span>资源申请吗？
  </p>
</div>
<div class="form-group">
  <label for="reason" class="col-sm-2 control-label">拒绝原因</label>
  <div class="col-sm-8 input-group">
    <textarea class="textarea" id="reason" name="reason" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" placeholder=""></textarea>
  </div>
</div>
</form>
</div>

<script type="text/javascript">

$(function () {
    //Enable iCheck plugin for checkboxes
    //iCheck for checkbox and radio inputs
    $('.mailbox-messages input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });

    //Enable check and uncheck all functionality
    $(".checkbox-toggle").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
      } else {
        //Check all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("check");
        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });

    //Handle starring for glyphicon and font awesome
    $(".mailbox-star").click(function (e) {
      e.preventDefault();
      //detect type
      var $this = $(this).find("a > i");
      var glyph = $this.hasClass("glyphicon");
      var fa = $this.hasClass("fa");

      //Switch states
      if (glyph) {
        $this.toggleClass("glyphicon-star");
        $this.toggleClass("glyphicon-star-empty");
      }

      if (fa) {
        $this.toggleClass("fa-star");
        $this.toggleClass("fa-star-o");
      }
    });
    init_status();
    // init_popover();
  });
  function init_status(){
    var res_status = "{{ current_res_status }}";
    $("li[name=res_status_"+res_status+"]").addClass("active");
    var env_id = "{{ current_env_id }}";
    $("li[name=env_id_"+env_id+"]").addClass("active");
  }

  function do_refuse(){
    var checked_values = $getCheckValues("#resource_check_list_table");
    if (checked_values.length == 0){
      $MsgBox({message: "未选择任何资源申请"}).show();
      return false;
    }
    $("#refuse").find("p[for=message] span").html("["+checked_values.join(",")+"]");
    var html = $("#refuse").html()
    confirmBox({message: html, onConfirm: function(){
      do_resource_action({action:'{{ STATUS_RESOURCE.refused.value_en }}', reason:$("#confirmBox").find("#reason").val()})
      $("#confirmBox").tClose();
    }})
  }
  function do_resource_action(options){
    options = options || {};
    var action = options.action || "";
    if (action == ""){
      confirmBox({message: "提交参数有误"});
    }
    var reason = options.reason || "";
    var checked_values = $getCheckIds("#resource_check_list_table");
    var params = {
      _xsrf: $cookie("_xsrf"),
      res_ids: checked_values.join(","),
      action: action,
      reason: reason,
      _: Math.random()
    }
    $.ajax({
        url: "{{ reverse_url('resource_check_list') }}?res_status={{ handler.args.get('res_status', 0)}}",
      type: "POST",
      dataType: "json",
      data: params,
      beforeSend: function(xhr, settings){
        xhr.setRequestHeader("_xsrf", $cookie('_xsrf'));
      },
      success: function(response){
        if (check_response(response)){
          $("#pjax-container").html(response.data);
          console.log(checked_values)
          //do_notice_user(checked_values)
        }
      },
      error: function(xhr, Status){
        if (Status == "timeout"){
          do_resource_action({action: action});
        }
      }
    })
  }
</script>