<div class="col-md-3">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">资源申请状态</h3>
          <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <!--li class="active"><a href="#"><i class="fa fa-inbox"></i> 待审核 <span class="label label-primary pull-right">12</span></a></li-->
            {% for res_status in STATUS_RESOURCE_RANGE %}
              {% if res_status not in [STATUS_RESOURCE.UNKNOWN, STATUS_RESOURCE.REVOKED, STATUS_RESOURCE.REFUSED] %}
                <li name="res_status_{{ res_status }}">
                <a data-pjax 
                href="{{ reverse_url('resource_check_list') }}?res_status={{ res_status }}">
                <i class="fa fa-circle-o text-{{ STATUS_RESOURCE.get(res_status).level }}"></i> 
                {{ STATUS_RESOURCE.get(res_status).todo_value }} 
                {% set status_count = resource_res.data.status_counts.get(res_status, 0) %}
                {% if status_count > 0 %}
                <span class="label label-{{ STATUS_RESOURCE.get(res_status).level }} pull-right">
                {{ status_count }}
                </span>
                {% endif %}
                </a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div><!-- /.box-body -->
      </div><!-- /. box -->
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">资源所属环境</h3>
          <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            {% set env_list = env_list_res.data %}
            {% set env_counts = resource_res.data.env_counts %}
            {% for env in env_list %}
            <li name="env_id_{{ env.id }}"><a data-pjax href="{{ reverse_url('resource_check_list') }}?env_id={{ env.id }}"><i class="fa fa-circle-o text-{{ env_colors[env.id%3] }}"></i> {{ env.name }}
            {% set env_count = env_counts.get(env.id, 0) %}
            {% if env_count|int > 0 %}
            <span class="badge bg-{{ env_colors[env.id%3] }} pull-right">
            {{ env_count }}
            </span>
            {% endif %}
            </a></li>
            {% endfor %}
            <!-- <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li> -->
          </ul>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->