
<div class="btn-group">
  <button onclick="do_pro_table_action({action:'{{ STATUS_PRO_TABLES.checked.value_en }}'});" class="btn btn-sm btn-{{ STATUS_PRO_TABLES.checked.level }}"><i class="fa fa-check"></i>   处理通过</button>
  <button onclick="do_pro_table_action({action:'{{ STATUS_PRO_TABLES.refused.value_en }}'});" class="btn btn-sm btn-{{ STATUS_PRO_TABLES.refused.level }}"><i class="fa fa-check"></i>   拒绝申请</button>
</div>

<script type="text/javascript">
$(function () {
    //Enable iCheck plugin for checkboxes
    //iCheck for checkbox and radio inputs
    $('.mailbox-messages input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });

    //Enable check and uncheck all functionality
    $(".checkbox-toggle").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
      } else {
        //Check all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("check");
        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });

    //Handle starring for glyphicon and font awesome
    $(".mailbox-star").click(function (e) {
      e.preventDefault();
      //detect type
      var $this = $(this).find("a > i");
      var glyph = $this.hasClass("glyphicon");
      var fa = $this.hasClass("fa");

      //Switch states
      if (glyph) {
        $this.toggleClass("glyphicon-star");
        $this.toggleClass("glyphicon-star-empty");
      }

      if (fa) {
        $this.toggleClass("fa-star");
        $this.toggleClass("fa-star-o");
      }
    });
});

$(function () {
  {% if pro_table %}
  init_status();
  {% endif %}
});
function init_status(){
  var pro_table = "{{ pro_table }}";
  $("li[name="+pro_table+"]").addClass("active");
}
function do_pro_table_action(options){
  options = options || {};
  var action = options.action || "";
  if (action == ""){
    confirmBox({message: "提交参数有误"});
  }
  var checked_values = $getCheckValues("#pro_table_check_list_table");
  console.log(checked_values)
  var params = {
    _xsrf: $cookie("_xsrf"),
    res_ids: checked_values.join(","),
    action: action,
    _: Math.random()
  }
  $.ajax({
    url: "{{ reverse_url('resource_check_list') }}?res_status={{ handler.args.get('res_status', 0)}}",
    type: "POST",
    dataType: "json",
    data: params,
    beforeSend: function(xhr, settings){
      xhr.setRequestHeader("_xsrf", $cookie('_xsrf'));
    },
    success: function(response){
      if (check_response(response)){
        $("#pjax-container").html(response.data);
        console.log(checked_values)
        //do_notice_user(checked_values)
      }
    },
    error: function(xhr, Status){
      if (Status == "timeout"){
        do_resource_action({action: action});
      }
    }
  })
}

</script>