
<div class="btn-group">
  <button onclick="do_checked();" class="btn btn-sm btn-{{ STATUS_PRO_TABLES.checked.level }}"><i class="fa fa-check"></i>   处理完成</button>
  <button onclick="do_refuse();" class="btn btn-sm btn-{{ STATUS_PRO_TABLES.refused.level }}"><i class="fa fa-times"></i>   退回申请</button>
</div>
{# 处理通过弹出框 #}
<div id="checked" style="display: none">
  <form>
    <!-- <div class="form-group">
      <label for="message" class="col-sm-2 control-label"></label>
      <p for="message" class="form-group-static col-sm-8">确定拒绝所选<span></span>资源申请吗？</p>
    </div> -->
    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <p for="message" class="col-sm-8 input-group">
      <span></span>{{ GROUP.get(pro_table).name }}处理结果：
      </p>
    </div>
    <div class="form-group">
      <label for="reason" class="col-sm-2 control-label">处理结果</label>
      <div class="col-sm-8 input-group">
        <textarea class="textarea" id="reason" name="reason" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" placeholder=""></textarea>
      </div>
    </div>
  </form>
</div>

{# 处理拒绝弹出框 #}
<div id="refuse" style="display: none">
  <form>
    <!-- <div class="form-group">
      <label for="message" class="col-sm-2 control-label"></label>
      <p for="message" class="form-group-static col-sm-8">确定拒绝所选<span></span>资源申请吗？</p>
    </div> -->
    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <p for="message" class="col-sm-8 input-group">确定拒绝所选
      <span></span>{{ GROUP.get(pro_table).name }}吗？
      </p>
    </div>
    <div class="form-group">
      <label for="reason" class="col-sm-2 control-label">拒绝原因</label>
      <div class="col-sm-8 input-group">
        <textarea class="textarea" id="reason" name="reason" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" placeholder=""></textarea>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
$(function () {
    //Enable iCheck plugin for checkboxes
    //iCheck for checkbox and radio inputs
    $('.mailbox-messages input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });

    //Enable check and uncheck all functionality
    $(".checkbox-toggle").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
      } else {
        //Check all checkboxes
        $(".mailbox-messages input[type='checkbox']").iCheck("check");
        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });

    //Handle starring for glyphicon and font awesome
    $(".mailbox-star").click(function (e) {
      e.preventDefault();
      //detect type
      var $this = $(this).find("a > i");
      var glyph = $this.hasClass("glyphicon");
      var fa = $this.hasClass("fa");

      //Switch states
      if (glyph) {
        $this.toggleClass("glyphicon-star");
        $this.toggleClass("glyphicon-star-empty");
      }

      if (fa) {
        $this.toggleClass("fa-star");
        $this.toggleClass("fa-star-o");
      }
    });
});

$(function () {
  {% if pro_table %}
  init_status();
  {% endif %}
});
function init_status(){
  var pro_table = "{{ pro_table }}";
  $("li[name="+pro_table+"]").addClass("active");
}

function do_checked(){
    var checked_values = $getCheckValues("#pro_table_check_list_table");
    if (checked_values.length == 0){
      $MsgBox({message: "未选择任何{{ GROUP.get(pro_table).name }}"}).show();
      return false;
    }
    $("#checked").find("p[for=message] span").html("["+checked_values.unique().join(",")+"]");
    var html = $("#checked").html()
    confirmBox({message: html, onConfirm: function(){
      do_pro_table_action({action:'{{ STATUS_PRO_TABLES.checked.value_en }}', reason:$("#confirmBox").find("#reason").val()})
      $("#confirmBox").tClose();
    }})
}

function do_refuse(){
    var checked_values = $getCheckValues("#pro_table_check_list_table");
    if (checked_values.length == 0){
      $MsgBox({message: "未选择任何{{ GROUP.get(pro_table).name }}"}).show();
      return false;
    }
    $("#refuse").find("p[for=message] span").html("["+checked_values.unique().join(",")+"]");
    var html = $("#refuse").html()
    confirmBox({message: html, onConfirm: function(){
      do_pro_table_action({action:'{{ STATUS_PRO_TABLES.refused.value_en }}', reason:$("#confirmBox").find("#reason").val()})
      $("#confirmBox").tClose();
    }})
}

function do_pro_table_action(options){
  options = options || {};
  var action = options.action || "";
  if (action == ""){
    confirmBox({message: "提交参数有误"});
  }
  var reason = options.reason || "";
  var checked_values = $getCheckIds("#pro_table_check_list_table");
  console.log(checked_values)
  var params = {
    _xsrf: $cookie("_xsrf"),
    ids: checked_values.join(","),
    pro_table: "{{ pro_table }}",
    action: action,
    reason: reason,
    _: Math.random()
  }
  $.ajax({
    url: "{{ reverse_url('pro_table_do_check') }}",
    type: "do_check",
    dataType: "json",
    data: params,
    beforeSend: function(xhr, settings){
      xhr.setRequestHeader("_xsrf", $cookie('_xsrf'));
    },
    success: function(response){
      if (check_response(response)){
        $("#pjax-container").html(response.data);
        console.log(checked_values)
        //do_notice_user(checked_values)
      }
    },
    error: function(xhr, Status){
      if (Status == "timeout"){
        do_pro_table_action({action: action});
      }
    }
  })
}

</script>