<div class="box-header with-border">
  <h3 class="box-title">
    互联网发布详情
  </h3>
</div><!-- /.box-header -->
<div class="box-body no-padding">
  <div class="mailbox-controls">
  <a data-pjax href="" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-reply"></i> 返回</a>
    {% include "admin/check/_event_detail_buttons.html" %}
  </div>
  <div class="table-responsive mailbox-messages">
    <table class="table table-hover table-striped" id="pro_table_check_list_table">
      <tbody>
        {% set pro_publish = pro_publish_res.data %}
        <tr style="display: none">
          <th></th>
          <td>
            <input type="checkbox" id="{{ pro_publish.id }}" value="{{ pro_publish.project.name }}" checked="checked">
          </td>
        </tr>
        <tr>
          <th>申请编号</th>
          <td class="mailbox-subject">PUB{{ "%04d" % pro_publish.id }}</td>
        </tr>
        <tr>
          <th>项目名称</th>
          <td class="mailbox-subject">{{ pro_publish.project.name }}</td>
        </tr>
        <tr>
          <th>域名</th>
          <td class="mailbox-subject">{{ pro_publish.domain }}</td>
        </tr>
        <tr>
          <th>端口域名</th>
          <td class="mailbox-subject">{{ pro_publish.domain_port }}</td>
        </tr>
        <tr>
          <th>内网发布地址</th>
          <td class="mailbox-subject">{{ pro_publish.network_address }}</td>
        </tr>
<!--         <tr>
          <th>内网端口</th>
          <td class="mailbox-subject">{{ pro_publish.network_port }}</td>
        </tr>
 -->        <tr>
          <th>是否使用SSL</th>
          <td class="mailbox-subject">{{ pro_publish.use_ssl }}</td>
        </tr>
      </tbody>
    </table><!-- /.table -->
  </div><!-- /.mail-box-messages -->
</div>