{% import "admin/base/base_macros.html" as base with context %}
{% set pro_event = pro_event_res.data %}
<div class="box-header with-border">
  <h3 class="box-title">
    事件工单详情
  </h3>
</div><!-- /.box-header -->
<div class="box-body no-padding">
  <div class="mailbox-controls">
  <a data-pjax href="" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-reply"></i> 返回</a>
    {% include "admin/check/_event_detail_buttons.html" %}
  </div>
</div>
{% include "admin/event/_pro_event_detail.html" %}
<script type="text/javascript">
  $(function () {
    //Add text editor
    // $("#reply_content").wysihtml5();
  });
  function do_event_reply(){
    generate_ajax_post({
      form: "#form_event_reply",
      btn: "#form_event_reply_btn",
      pjax_container: false,
      method: "CHECK",
      onSuccess: function(response){
        $("#pro_table_content").html(response.data);
      },
      onTimeout: function(){
        do_event_reply();
      }
    });
  }
</script>
