<div class="box-header with-border">
  <h3 class="box-title">
    权限用户详情
  </h3>
</div><!-- /.box-header -->
<div class="box-body no-padding">
  <div class="mailbox-controls">
  <a data-pjax href="" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-reply"></i> 返回</a>
  <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i> 全选</button>
    {% include "admin/check/_event_detail_buttons.html" %}
  </div>
  <div class="table-responsive mailbox-messages">
    <table class="table table-hover table-striped" id="pro_table_check_list_table">
      <tbody>
        {% set pro_user = pro_user_res.data %}
        {% if pro_user.status == STATUS_PRO_TABLES.APPLIED %}
        <tr style="display:none"><td>
          <input type="checkbox" id="{{ pro_user.id }}" value="{{ pro_user.project.name }}" checked="checked">
        </td></tr>
        {% endif %}
        {% include "admin/guide/_step_3_user_detail.html" %}
      </tbody>
    </table><!-- /.table -->
  </div><!-- /.mail-box-messages -->
</div>

