<tr>
  <th></th>
  <th class="mailbox-star"></th>
  <th class="mailbox-name">申请用户</th>
  <th class="mailbox-subject">申请项目</th>
  <th class="mailbox-attachment">申请权限用户</th>
  <th class="mailbox-date">申请时间</th>
</tr>
{% for pro_table in page.object_list %}
<tr>
  <td><input type="checkbox" value="{{ pro_table.id }}"></td>
  <td class="mailbox-star"><a href="javascript:;"><i class="fa fa-star text-yellow"></i></a></td>
  <td class="mailbox-name"><a data-pjax href="{{ reverse_url('pro_publish_detail', pro_table.id) }}">{{ pro_table.project.user.email or pro_table.project.user.mobile }}</a></td>
  <td class="mailbox-subject"><b>{{ pro_table.project.name }}</b></td>
  <td class="mailbox-subject">{{ pro_table.username }}</td>
  <td class="mailbox-date">{{ pro_table.update_time }}</td>
</tr>
{% endfor %}
