{% set current_res_status = resource_apply.status %}

{% include "admin/base/base_bread.html" %}

        <!-- Main content -->
        <section class="content">
          {% include "admin/base/base_messages.html" %}
          <div class="row">
            {% include "admin/check/_check_list_sidebar.html" %}
            <div class="col-md-9">
              <div class="box box-primary">
                <div class="box-header with-border">
                <h3 class="box-title">{{ STATUS_RESOURCE.get(current_res_status).todo_value }}({{ STATUS_RESOURCE.get(current_res_status).value }})</h3>
                  <div class="box-tools pull-right">
                    <div class="has-feedback">
                      <input type="text" class="form-control input-sm" placeholder="Search Mail">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->

                <div class="box-body no-padding">
                  <div class="mailbox-controls">
                  <a data-pjax href="{{ reverse_url('resource_check_list') }}?res_status={{ resource_apply.status }}" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-reply"></i> 返回</a>
                    {% include "admin/check/_check_detail_buttons.html" %}  
                  </div>
                  <div class="box-body no-padding">
                  {% set pro_resource_apply_res = resource_apply_res %}
                  {% include "admin/guide/_step_1_res_detail.html" %}
                    <table class="table table-striped" id="resource_check_list_table">
                      <tr style="display: none">
                        <td>
                          <input type="checkbox" id="{{ resource_apply.id }}" value="{{ resource_apply.project.name }}" checked="checked"/>
                        </td>
                      </tr>
                    </table>
                    <!--ul class="nav nav-pills nav-stacked">
                      <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                      <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
                    </ul-->
                  </div><!-- /.box-body -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                  <div class="mailbox-controls">
                    {% include "admin/check/_check_detail_buttons.html" %}  
                  </div>
                </div>
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
    