
{% set current_res_status = handler.args.get("res_status")|int %}
{% set current_env_id = handler.args.get("env_id") %}
{#% set env_colors = ["red", "yellow", "blue"] %#}

{% include "admin/base/base_bread.html" %}

<!-- Main content -->
<section class="content">
  {% include "admin/base/base_messages.html" %}
  <div class="row">
    <div class="col-md-3">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">分类</h3>
          <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <!--li class="active"><a href="#"><i class="fa fa-inbox"></i> 待审核 <span class="label label-primary pull-right">12</span></a></li-->
            {% for res_status in STATUS_RESOURCE_RANGE %}
            <li name="res_status_{{ res_status }}">
            <a data-pjax 
            href="{{ reverse_url('resource_check_list') }}?res_status={{ res_status }}">
            <i class="fa fa-circle-o text-{{ STATUS_RESOURCE.get(res_status).level }}"></i> 
            {{ STATUS_RESOURCE.get(res_status).todo_value }} 
            {% set status_count = resource_res.data.status_counts.get(res_status, 0) %}
            {% if status_count > 0 %}
            <span class="label label-{{ STATUS_RESOURCE.get(res_status).level }} pull-right">
            {{ status_count }}
            </span>
            {% endif %}
            </a></li>
            {% endfor %}
          </ul>
        </div><!-- /.box-body -->
      </div><!-- /. box -->
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">环境</h3>
          <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            {% set env_list = env_list_res.data %}
            {% set env_counts = resource_res.data.env_counts %}
            {% for env in env_list %}
            <li name="env_id_{{ env.id }}"><a data-pjax href="{{ reverse_url('resource_check_list') }}?env_id={{ env.id }}"><i class="fa fa-circle-o text-{{ env_colors[env.id%3] }}"></i> {{ env.name }}
            {% set env_count = env_counts.get(env.id, 0) %}
            {% if env_count|int > 0 %}
            <span class="badge bg-{{ env_colors[env.id%3] }} pull-right">
            {{ env_count }}
            </span>
            {% endif %}
            </a></li>
            {% endfor %}
            <!-- <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li> -->
          </ul>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
        <h3 class="box-title">
          {% if current_res_status %}
            {{ STATUS_RESOURCE.get(current_res_status).todo_value }}({{ STATUS_RESOURCE.get(current_res_status).value }})
          {% else %}
            {% for env in env_list %}
              {% if env.id|int == current_env_id|int %}
                {{ env.name }}
              {% endif %}
            {% endfor %}
          {% endif %}
          </h3>
          <div class="box-tools pull-right">
            <div class="has-feedback">
              <input type="text" class="form-control input-sm" placeholder="Search Mail">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-controls">
            {% include "admin/check/_check_list_buttons.html" %}  
          </div>
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped" id="resource_check_list_table">
              <tbody>
                <tr>
                  <th></th>
                  <th>申请编号</th>
                  <th>所属项目</th>
                  <th>所属环境</th>
                  <th>状态</th>
                  <th>申请时间</th>
                </tr>
                {% for resource in page.object_list %}
                <tr>
                  <td><input type="checkbox" id="{{ resource.id }}" value="{{ resource.project.name }}"></td>
                  <td class="mailbox-name">
                    <a data-pjax href="{{ reverse_url('resource_check_detail', resource.id) }}">APY{{ "%04d" % resource.id }} <i class="fa fa-eye"></i></a>
                  </td>
<!--                   <td class="mailbox-star"><a href="javascript:;"><i class="fa fa-star text-yellow"></i></a></td> -->              
                  <td class="mailbox-subject">
                    <a href="javascript:;" data-toggle="popover" title="所属项目" data-content="申请人：{{ resource.user.username }}<br>项目名称：{{ resource.project.name }}<br>项目描述：{{ resource.project.desc }}"><b>{{ resource.project.name }}</b> - {{ resource.desc }}</a>
                  </td>
                  <td class="mailbox-subject">
                    <a href="javascript:;" data-toggle="popover" title="申请状态" data-content="{{ resource.project.env.name }}环境，共{{ env_counts.get(resource.project.env_id, 0) }}条记录 <a data-pjax href='{{ reverse_url('resource_check_list') }}?env_id={{ resource.project.env_id }}' data-toggle='tooltip' data-placement='top' title='进入查看'><i class='fa fa-link'></i></a>">
                      <span class="badge bg-{{ env_colors[resource.project.env_id%3] }}">
                      {{ resource.project.env.name }}
                      </span>
                    </a>
                  </td>
                  <td class="mailbox-subject">
                    <a href="javascript:;" data-toggle="popover" title="申请状态" data-content="{{ STATUS_RESOURCE.get(resource.status).value }},{{ STATUS_RESOURCE.get(resource.status).todo_value }} <a data-pjax href='{{ reverse_url('resource_check_list') }}?res_status={{ resource.status }}' data-toggle='tooltip' data-placement='top' title='进入查看'><i class='fa fa-link'></i></a>"><span class="label label-{{ STATUS_RESOURCE.get(resource.status).level }}">
                      {{ STATUS_RESOURCE.get(resource.status).todo_value }}
                    </span></a>
                  </td>
                  <td class="mailbox-date" data-toggle="tooltip" data-placement="top" title="{{ resource.create_time }}">{{ resource.create_time|getGoodTime }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table><!-- /.table -->
          </div><!-- /.mail-box-messages -->
        </div><!-- /.box-body -->
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
            {% include "admin/check/_check_list_buttons.html" %}  
          </div>
        </div>
        {% include "admin/base/base_paginator.html" %}
      </div><!-- /. box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->

<script type="text/javascript">
// $(function(){
//   $("body").find('[data-toggle="popover"]').each(function(){
//       $(this).click(function(e){
//           // $('.popover').remove();
//           $('body').find('[data-toggle="popover"]').popover('hide');
//           e.preventDefault();
//           return false;
//       });
//       $(this).popover({
//           animation: true,
//           trigger : 'click',
//           placement: 'auto bottom',
//           html: true
//       });
//   });
//   $("body").click(function(){
//       $('body').find('[data-toggle="popover"]').popover('hide');
//   });
// });
</script>
{% include "admin/base/scripts/popover.html" %}