
{% set current_res_status = handler.args.get("res_status", 0)|int %}

{% include "admin/base/base_bread.html" %}

        <!-- Main content -->
        <section class="content">
          {% include "admin/base/base_messages.html" %}
          <div class="row">
            <div class="col-md-3">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">分类</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    {% for group in groups %}
                    <li name="{{ group.keyword }}">
                    <a data-pjax 
                    href="{{ reverse_url('pro_table_check_list') }}?pro_table={{ group.keyword }}">
                    <i class="fa fa-circle-o text-info"></i> 
                    {{ group.name }}
                    {% if pub_data.get("{}_list".format(group.keyword))|length > 0 %}
                    <span class="label label-warning pull-right">
                    {{ pub_data.get("{}_list".format(group.keyword))|length }}
                    </span>
                    {% endif %}
                    </a></li>
                    {% endfor %}
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /. box -->
              {#
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Labels</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              #}
            </div><!-- /.col -->
            <div class="col-md-9">
              <div class="box box-primary" id="pro_table_content">
                <div class="box-header with-border">
                  <h3 class="box-title">
                    {% if g %}
                      {{ g.name }}
                    {% endif %}
                  </h3>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <div class="mailbox-controls">
                    {% include "admin/check/_event_list_buttons.html" %}  
                  </div>
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped" id="pro_table_check_list_table">
                      <tbody>
                      {% include "admin/check/_event_{}_list.html".format(pro_table) %}
                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                {#
                <!--div class="box-footer no-padding">
                  <div class="mailbox-controls">
                    {% include "admin/check/_check_list_buttons.html" %}  
                  </div>
                </div-->
                #}
                  {% include "admin/base/base_paginator.html" %}
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
    