{# ------------------ 检查表单状态，提示表单错误信息 ------------------ #}
{% macro check_post(res, code_list=[]) -%}
{% if res %}
  {% if res.return_code|int in code_list %}
    <p class="text-red col-sm-offset-2">{{ res.return_message }}</p>
  {% endif %}
{% endif %}
{%- endmacro %}

{% macro form_input(label, name, placeholder=None, _type="text", value="", res=None, check_codes=[], label_col=2, unit=False, readonly=False) -%}
  {% set col2 = 12 - label_col %}
  <div class="form-group{% if res and res.return_code in check_codes %} has-warning{% endif %}">
    <label for="{{ name }}" class="col-sm-{{ label_col }} control-label">{{ label }}</label>
    <div class="col-sm-{{ col2 }}">
    {% if unit %}
    <div class="input-group">
    <input type="{{ _type }}" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{% if placeholder %}{{ placeholder }}{% else %}请输入{{ label }}{% endif %}" value="{{ value }}"{% if readonly %} readonly{% endif %}>
    <span class="input-group-addon">{{ unit }}</span>
    </div>
    {% else %}
    <input type="{{ _type }}" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{% if placeholder %}{{ placeholder }}{% else %}请输入{{ label }}{% endif %}" value="{{ value }}"{% if readonly %} readonly{% endif %}>
    {% endif %}
      {% if res and res.return_code in check_codes %}
      <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% macro form_select(label, name, options=[], value="", res=None, check_codes=[], label_col=2) -%}
  {% set col2 = 12 - label_col %}
  <div class="form-group{% if res and res.return_code in check_codes %} has-warning{% endif %}">
    <label for="{{ name }}" class="col-sm-{{ label_col }} control-label">{{ label }}</label>
    <div class="col-sm-{{ col2 }}">
      <select id="{{ name }}" name="{{ name }}">
        {% for option in options %}
        <option value="{{ option.value }}"{% if value|int == option.value %} selected="selected"{% endif %}>{{ option.desc }}</option>
        {% endfor %}
      </select>
      {% if res and res.return_code in check_codes %}
      <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% macro form_textarea(label, name, value="", res=None, check_codes=[]) -%}
  <div class="form-group{% if res and res.return_code in check_codes %} has-warning{% endif %}">
    <label for="inputPassword3" class="col-sm-2 control-label">{{ label }}</label>
    <div class="col-sm-10">
    <textarea class="form-control" id="{{ name }}"name="{{ name }}" placeholder="请输入{{ label }}">{{ value }}</textarea>
    {% if res and res.return_code in check_codes %}
    <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> {{ res.return_message }}</label>
    {% endif %}
    </div>
  </div>
{%- endmacro %}

{% macro get_task_module(task, STATUS_RESOURCE, user=None, checker=None, imchecker=True) -%}
  {% if imchecker %}
    {% if task.status == STATUS_RESOURCE.CONFIRMPAYED and task.checker_id == 0 %}
      {{ user_info(task, user=user, imchecker=imchecker, content=content_check_sure(task)) }}
    {% elif task.status == STATUS_RESOURCE.CONFIRMPAYED and task.checker_id != 0 %}
    {% else %}
      {{ user_info(task, user=user, imchecker=imchecker, content=content_check(task)) }}
    {% endif %}
  {% else %}

    {% if task.status == STATUS_RESOURCE.CONFIRMPAYED and task.res_apply.start_date %}
    {% elif task.status == STATUS_RESOURCE.CONFIRMPAYED and not task.res_apply.start_date %}
    {{ user_info(task, checker=checker, imchecker=imchecker, content=content_user(task)) }}
    {% elif task.status == STATUS_RESOURCE.CONFIRMPAYED and task.checker_id != 0 %}
    {% else %}
      {{ user_info(task, checker=checker, imchecker=imchecker, content=content_user(task)) }}
    {% endif %}
  {% endif %}
{%- endmacro %}

{% macro user_info(task, user=None, checker=None, imchecker=True, content="") -%}
<div class="post">
  <div class="user-block">
    {% if handler %}
    <img class="img-circle img-bordered-sm" src="{{ handler.static_url('default/dist/img/user2-160x160.jpg') }} " alt="user image">
    {% endif %}
    <span class='username'>
      {% if imchecker %}
        <a href="#">用户：{{ user.email or user.mobile or user.username or "匿名用户" }}</a>
      {% else %}
        <a href="#">管理员：{{ checker.email or checker.mobile or checker.username or "匿名用户" }}</a>
      {% endif %}
    </span>
    {% set ST = STATUS_RESOURCE.get(task.status) %}
    <span class='description'><span class='label label-{{ ST.level }}'>{{ ST.value }}</span> - {{ task.create_time|getGoodTime }}</span>
  </div><!-- /.user-block -->
  <p>
    {{ content }}
  </p>
</div><!-- /.post -->
{%- endmacro %}

{% macro content_check_sure(task) -%}
  <form id="task_confirm_form" action="{{ reverse_url('task_confirm', task.id) }}">
  {{ handler.xsrf_form_html() }}
  <input type="hidden" name="task_id" value="{{ task.id }}">
  </form>
  [{{ task.checker_id }}]
  <!-- {% set ST = STATUS_RESOURCE.get(task.status) %} -->
  <!-- (用户<span class='label label-{{ ST.level }}'>{{ ST.value }}</span>) -->
  {{ task.desc }}
  <a data-pjax id="do_confirm_btn" href='javascript:;' onclick="do_confirm_start_date()" class='pull-right btn-box-tool'><i class='fa fa-check'> 确认</i></a>
{%- endmacro %}

{% macro content_check(task) -%}
        <!-- {% set ST = STATUS_RESOURCE.get(task.status) %} -->
       <!-- (用户<span class='label label-{{ ST.level }}'>{{ ST.value }}</span>) -->
        {{ task.desc }}
        <a data-pjax href='{{ reverse_url("resource_check_list") }}?res_status={{ task.status }}' class='pull-right btn-box-tool'><i class='fa fa-check'> 去审核</i></a>
{%- endmacro %}

{% macro content_user(task) -%}
        <!-- {% set ST = STATUS_RESOURCE.get(task.status) %} -->
        <!-- (管理员<span class='label label-{{ ST.level }}'>{{ ST.value }}</span>) -->
        {{ task.desc }}
        <a data-pjax href='{{ reverse_url("guide") }}' class='pull-right btn-box-tool'><i class='fa fa-check'> 去处理</i></a>
{%- endmacro %}

{% macro get_history_module(act) -%}
  <li>
    <i class="fa fa-envelope bg-blue"></i>
    <div class="timeline-item">
    <span class="time"><i class="fa fa-clock-o"></i> {{ act.create_time|getGoodTime }}</span>
      <h3 class="timeline-header"><a href="#">审核</a></h3>
      <div class="timeline-body">{{ act.desc }}</div>
      <!--div class="timeline-footer">
        <a class="btn btn-primary btn-xs">Read more</a>
        <a class="btn btn-danger btn-xs">Delete</a>
      </div-->
    </div>
  </li>
{%- endmacro %}

{% macro get_profile(user) -%}
  <!-- Profile Image -->
  <div class="box box-primary">
    <div class="box-body box-profile">
      <img class="profile-user-img img-responsive img-circle" src="{{ handler.static_url('default/dist/img/user2-160x160.jpg') }}" alt="User profile picture">
      <h3 class="profile-username text-center">{{ (user.username or user.email or user.mobile)|truncate(10, "...") }}</h3>
      <p class="text-muted text-center">
        [{% for user_role in user.user_roles %}
          {{ user_role.role.name }}
        {% endfor %}]
      </p>
      <p class="text-muted text-center">
      最近登录时间：{{ user.last_login|getGoodTime }}
      </p>

      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>用户名</b> <a class="pull-right">{{ user.username }}</a>
        </li>
        <li class="list-group-item">
          <b>邮箱</b> <a class="pull-right">{{ user.email }}</a>
        </li>
        <li class="list-group-item">
          <b>手机号</b> <a class="pull-right">{{ user.mobile }}</a>
        </li>
      </ul>

      <a href="javascript:;" onclick="do_flip_card()" class="btn btn-primary btn-block"><b>用户设置</b></a>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
{%- endmacro %}

{% macro loadbalance_member(member=None, loop=1, failures=[], ERR=None) %}
{% set check_codes = [
  ERR.PRO_BALANCE_MEMBER_ADDRESS_EMPTY_ERR,
  ERR.PRO_BALANCE_MEMBER_PORT_EMPTY_ERR
] %}
<div class="form-group{% for f in failures %}{% if f.return_code in check_codes %} has-warning{% endif %}{% endfor %}">
      <label for="disk" class="col-sm-2 control-label">成员{{ loop }}</label>
      <div class="col-sm-6 input-group">
        <div class="input-group-unit">IP</div>
        <input type="text" class="form-control" name="address" placeholder="127.0.0.1"{% if member %} value="{{ member.address }}"{% endif %}>
        <div class="input-group-unit">PORT</div>
        <input type="text" class="form-control" name="port" placeholder="8080"{% if member %} value="{{ member.port }}"{% endif %}>
        <div class="input-group-unit">
        <button class="btn btn-box-tool" onclick="$(this).parent().parent().parent().remove();loop-=1;set_member_tip()"><i class="fa fa-times"></i></button>
        </div>
      </div>
      {% for f in failures %}
      {% if f.return_code in check_codes %}
      <div class="form-group has-warning col-sm-12">
      <label class="col-sm-offset-2 control-label" for="inputWarning"><i class="fa fa-bell-o"></i> {{ f.return_message }}</label>
      </div>
      {% endif %}
      {% endfor %}
    </div>
{% endmacro %}

{% macro backup_member(member=None, loop=1, failures=[], ERR=None) %}
{% if ERR %}
{% set check_codes = [
    ERR.PRO_BACKUPS_DISK_EMPTY_ERR,
    ERR.PRO_BACKUPS_PLOT_EMPTY_ERR,
    ERR.PRO_BACKUPS_INTERVAL_EMPTY_ERR,
    ERR.PRO_BACKUPS_BACKUP_TIME_EMPTY_ERR
] %}
{% else %}
  {% set check_codes = [] %}
{% endif %}

    <div class="content row" name="disk_backup_plot" style="min-height:0px">
      <!-- form group -->
      <div class="form-group col-sm-6{% for f in failures %}{% if f.return_code in [ERR.PRO_BACKUPS_DISK_EMPTY_ERR] %} has-warning{% endif %}{% endfor %}">
        <label for="disk" class="col-sm-5 control-label">硬盘名称：</label>
        <div class="input-group">
          <input type="text" class="form-control input-sm" id="disk" name="disk" placeholder="disk1" value="{{ member.disk }}">
        </div>
      </div>
      <div class="form-group col-sm-6">
        <!-- -->
        <label for="disk" class="col-sm-5 control-label">备份策略：</label>
        <div class="input-group col-sm-7">
          <div class="input-group-addon">每</div>
          <select class="form-control" name="backup_plot" onchange="change_interval(this)">
            
          <option value="天" type="day"{% if member and member.plot == "天" %} selected="selected"{% endif %}>天</option>
            <option value="周" type="week"{% if member and member.plot == "周" %} selected="selected"{% endif %}>周</option>
            <option value="月" type="month"{% if member and member.plot == "月" %} selected="selected"{% endif %}>月</option>
          </select>
        </div>
      </div>
      {% if member %}
        {% if member.plot == "天" %}
          {% set display = False %}
        {% else %}
          {% set display = True %}
        {% endif %}
      {% else %}
        {% set display = False %}
      {% endif %}
      <div name="interval_title" class="form-group col-sm-6"{% if not display %} style="display:none"{% endif %}>
        <label for="disk" class="col-sm-5 control-label">间隔：</label>
        <div class="input-group col-sm-6">
          <select class="form-control" name="backup_interval">
            {% if member %}
            {% if member.plot == "周" %}
            <option value="周日"{% if member and member.interval == "周日" %} selected="selected"{% endif %}>周日</option>
            <option value="周一"{% if member and member.interval == "周一" %} selected="selected"{% endif %}>周一</option>
            <option value="周二"{% if member and member.interval == "周二" %} selected="selected"{% endif %}>周二</option>
            <option value="周三"{% if member and member.interval == "周三" %} selected="selected"{% endif %}>周三</option>
            <option value="周四"{% if member and member.interval == "周四" %} selected="selected"{% endif %}>周四</option>
            <option value="周五"{% if member and member.interval == "周五" %} selected="selected"{% endif %}>周五</option>
            <option value="周六"{% if member and member.interval == "周六" %} selected="selected"{% endif %}>周六</option>
            {% elif member.plot == "月" %}
              {% for x in range(1, 32) %}
              <option value="{{ x }}日" {% if member.interval == "{}日".format(x) %} selected="selected"{% endif %}>{{ x }}日</option>
              {% endfor %}
            {% endif %}
            {% endif %}
          </select>
        </div>
      </div>
      <div class="bootstrap-timepicker col-sm-6">
        <div class="col-sm-12 form-group{% for f in failures %}{% if f.return_code in [ERR.PRO_BACKUPS_BACKUP_TIME_EMPTY_ERR] %} has-warning{% endif %}{% endfor %}">
          <label class="control-label col-sm-5" for="backup_time">时间：</label>
          <div class="input-group">
            <!--div class="input-group-unit">时间</div-->
            <input type="text" class="form-control timepicker" id="backup_time" name="backup_time" placeholder="02:00:00" value="{% if member %}{{ member.backup_time }}{% endif %}">
            <div class="input-group-addon">
            <i class="fa fa-clock-o"></i>
            </div>
          </div>
        </div>
      </div>
      <span class="input-group-unit">
        <button class="btn btn-box-tool" onclick="$(this).parent().parent().remove();bloop-=1;set_backup_tip()"><i class="fa fa-times"></i></button>
      </span>
      {% for f in failures %}
      {% if f.return_code in check_codes %}
      <div class="form-group has-warning col-sm-12">
      <label class="col-sm-offset-2 control-label" for="inputWarning"><i class="fa fa-bell-o"></i> {{ f.return_message }}</label>
      </div>
      {% endif %}
      {% endfor %}
    </div>
{% endmacro %}

{% macro tip_message(message="", level="info") -%}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-{{ level }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <!-- <h4>    <i class="icon fa fa-check"></i> Alert!</h4> -->
            {% set icon = "fa-{}".format(level) %}
            {% if level == "success" %}
                {% set icon = "fa-check" %}
            {% elif level == "danger" %}
                {% set icon = "fa-ban" %}
            {% endif %}
            <i class="icon fa {{ icon }}"></i> {{ message }}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro pro_table_task(pro_table, imchecker=True, STATUS_PRO_TABLES=None) -%}
  {% set percent = (pro_table.status+1) / 2 %}
  {% if percent < 0 %}
    {% set percent = 0 %}
  {% endif %}
  {% set percent = (percent * 100)|int %}
  {% set ST = STATUS_PRO_TABLES.get(pro_table.status) %}
  {# 设置提示语 #}
  {% if imchecker %}
    {% if pro_table.__table__|string == "pro_user" %}
      {% set message = "{} 申请的项目用户{}{}，请受理".format(pro_table.user.email, pro_table.username, ST.value) %}
    {% elif pro_table.__table__|string in ["pro_publish", "pro_balance", "pro_backup"] %}
    {% set message = "{} 申请的{}内容{}，请受理".format(pro_table.user.email, pro_table.__doc__, ST.value) %}
    {% endif %}
  {% else %}
    {% if pro_table.__table__|string == "pro_user" %}
      {% set message = "您申请的的{}{}，{}受理完毕，{}".format(pro_table.__doc__, pro_table.username, pro_table.checker.email, ST.value) %}
    {% elif pro_table.__table__|string in ["pro_publish", "pro_balance", "pro_backup"] %}
      {% set message = "您申请的{}内容，{}受理完毕，{}".format(pro_table.__doc__, pro_table.checker.email, ST.value) %}
    {% endif %}
  {% endif %}
  <li><!-- Task item -->
    <a data-pjax href="javascript:;">
      <h3>{{ message }}
        <small class="pull-right">{{ percent }}%</small>
      </h3>
      <div class="progress xs">
        <div class="progress-bar progress-bar-aqua" style="width: {{ percent }}%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <span class="sr-only">{{ percent }}% Complete</span>
        </div>
      </div>
    </a>
  </li><!-- end task item -->
{%- endmacro %}

{% macro pro_table_profile_task(pro_table, imchecker=True, STATUS_PRO_TABLES=None, handler=None) -%}
  {% set percent = (pro_table.status+1) / 2 %}
  {% if percent < 0 %}
    {% set percent = 0 %}
  {% endif %}
  {% set percent = (percent * 100)|int %}
  {% set ST = STATUS_PRO_TABLES.get(pro_table.status) %}
  {# 设置提示语 #}
  {% if imchecker %}
    {% if pro_table.__table__|string == "pro_user" %}
      {% set message = "{} 申请的项目用户{}{}，请受理".format(pro_table.user.email, pro_table.username, ST.value) %}
    {% elif pro_table.__table__|string in ["pro_publish", "pro_balance", "pro_backup"] %}
      {% set message = "{} 申请的{}内容{}，请受理".format(pro_table.user.email, pro_table.__doc__, ST.value) %}
    {% endif %}
  {% else %}
    {% if pro_table.__table__|string == "pro_user" %}
      {% set message = "您申请的的项目用户{}，{}受理完毕，{}".format(pro_table.username, pro_table.checker.email, ST.value) %}
    {% elif pro_table.__table__|string in ["pro_publish", "pro_balance", "pro_backup"] %}
      {% set message = "您申请的内容{}，{}受理完毕，{}".format(pro_table.__doc__, pro_table.checker.email, ST.value) %}
    {% endif %}
  {% endif %}
<div class="post">
  <div class="user-block">
    <img class="img-circle img-bordered-sm" src="{{ handler.static_url('default/dist/img/user2-160x160.jpg') }} " alt="user image">
    <span class='username'>
      {% if imchecker %}
        {% set user = pro_table.user %}
        <a href="#">用户：{{ user.email or user.mobile or user.username or "匿名用户" }}</a>
      {% else %}
        {% set checker = pro_table.checker %}
        <a href="#">管理员：{{ checker.email or checker.mobile or checker.username or "匿名用户" }}</a>
      {% endif %}
    </span>
    <span class='description'><span class='label label-{{ ST.level }}'>{{ ST.value }}</span> - {{ pro_table.create_time|getGoodTime }}</span>
  </div><!-- /.user-block -->
  <p>
    {% if imchecker %}
        <!-- (用户<span class='label label-{{ ST.level }}'>{{ ST.value }}</span>) -->
        {{ message }}
        <a data-pjax href='javascript:;' class='pull-right btn-box-tool'><i class='fa fa-check'> 去处理</i></a>
    {% else %}
        <!-- (管理员<span class='label label-{{ ST.level }}'>{{ ST.value }}</span>) -->
        {{ message }}
        <a data-pjax href='javascript:;' class='pull-right btn-box-tool'><i class='fa fa-check'> 确认</i></a>
    {% endif %}
  </p>
</div><!-- /.post -->
{%- endmacro %}
