<script type="text/javascript">
function show_right(options){
    options = options || {}
    var op = options.op || "";
    var left_div_width = options.left_div_class || 7;
    var right_div_width = 12 - left_div_width;
    
    console.log(left_div_width);
    var _left_div_width = parseInt($("#left_div").css("width"));
    var _parent_div_width = parseInt($("#left_div").parent().css("width"));
    var _parent_div_per1 = parseInt(parseInt($("#left_div").parent().css("width"))*(left_div_width/12));
    var _parent_div_per2 = Math.round(parseInt($("#left_div").parent().css("width"))*(left_div_width/12));
    var _right_div_width = _parent_div_width - _left_div_width;
    console.log("_left_div_width:" + _left_div_width);
    console.log("_parent_div_width:" + _parent_div_width);
    console.log("_parent_div_per1:" + _parent_div_per1);
    console.log("_parent_div_per2:" + _parent_div_per2);
    console.log("_right_div_width:" + _right_div_width);
    
    if($("#left_div").css("width") == $("#left_div").parent().css("width")){
      $("#right_div").animateToClass('col-xs-'+String(right_div_width), 0, function(){
        $('#left_div').animateToClass("col-xs-"+String(left_div_width), 500, function(){
            $('#right_div').fadeIn('fast', function() {
              // $("#right_div").animateToClass('col-xs-'+String(right_div_width));
              $('#right_div').find('.box').slideDown();
            });
        });
      });
    }else if (_left_div_width != _parent_div_per1 && _left_div_width != _parent_div_per2){
        // 方式1
        if (_left_div_width > _parent_div_per1){
            $("#left_div").animateToClass("col-xs-"+String(left_div_width), 200, function(){
              $("#right_div").fadeIn(0, function(){
                $("#right_div").animateToClass("col-xs-"+String(right_div_width));
              });
            });
        }else{
            $("#right_div").animateToClass("col-xs-"+String(right_div_width), 200, function(){
              $("#right_div").fadeIn(0, function(){
                $("#left_div").animateToClass("col-xs-"+String(left_div_width));
              });
            });
        }

        // 方式2
        // $('#right_div').fadeOut(0);
        // // $("#right_div").css("display", "none");
        // $('#left_div').animateToClass("col-xs-"+String(left_div_width), 500, function(){
        //     // $("#right_div").animate({width: parseInt($("#left_div").parent().css("width"))*(right_div_width/12)}, 200, function(){
        //         $('#right_div').find('.box').slideDown("fast", function(){
        //           $("#right_div").animateToClass('col-xs-'+String(right_div_width), 100, function(){
        //           $('#right_div').fadeIn("fast");
        //         });
        //         });
        //     // });
        // });
    }else{
        $('#right_div').css('display', 'block');
        // $("#right_div").animateToClass('col-xs-'+String(right_div_width));
        // $('#new_pt_role').slideDown();
        $('#right_div').find('.box').slideDown();
    }
}
function hide_right(){
    $('#right_div').slideUp("fast", function(){
        $('#left_div').animateToClass('col-xs-12', 500, function(){
            $("#left_div").find("[hide_column]").fadeIn('fast');
        });
    });
}
</script>