<script type="text/javascript">
Array.prototype.unique = function(){
  var res = [];
  var json = {};
  for(var i = 0; i < this.length; i++){
    if(!json[this[i]]){
      res.push(this[i]);
      json[this[i]] = 1;
    }
  }
  return res;
}

// (function ($) {
    $.fn.serializeJSON = function () {

        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
// })(jQuery);
</script>

<script type="text/javascript">
function show_right(options){
    options = options || {}
    var op = options.op || "";
    var left_div_width = options.left_div_class || 7;
    var right_div_width = 12 - left_div_width;
    
    console.log(left_div_width);
    var _left_div_width = parseInt($("#left_div").css("width"));
    var _parent_div_width = parseInt($("#left_div").parent().css("width"));
    var _parent_div_per1 = parseInt(parseInt($("#left_div").parent().css("width"))*(left_div_width/12));
    var _parent_div_per2 = Math.round(parseInt($("#left_div").parent().css("width"))*(left_div_width/12));
    var _right_div_width = _parent_div_width - _left_div_width;
    console.log("_left_div_width:" + _left_div_width);
    console.log("_parent_div_width:" + _parent_div_width);
    console.log("_parent_div_per1:" + _parent_div_per1);
    console.log("_parent_div_per2:" + _parent_div_per2);
    console.log("_right_div_width:" + _right_div_width);
    
    if($("#left_div").css("width") == $("#left_div").parent().css("width")){
      $("#right_div").animateToClass('col-xs-'+String(right_div_width), 0, function(){
        $('#left_div').animateToClass("col-xs-"+String(left_div_width), 500, function(){
            $('#right_div').fadeIn('fast', function() {
              // $("#right_div").animateToClass('col-xs-'+String(right_div_width));
              $('#right_div').find('.box').slideDown();
            });
        });
      });
    }else if (_left_div_width != _parent_div_per1 && _left_div_width != _parent_div_per2){
        // 方式1
        if (_left_div_width > _parent_div_per1){
            $("#left_div").animateToClass("col-xs-"+String(left_div_width), 200, function(){
              $("#right_div").fadeIn(0, function(){
                $("#right_div").animateToClass("col-xs-"+String(right_div_width));
              });
            });
        }else{
            $("#right_div").animateToClass("col-xs-"+String(right_div_width), 200, function(){
              $("#right_div").fadeIn(0, function(){
                $("#left_div").animateToClass("col-xs-"+String(left_div_width));
              });
            });
        }

        // 方式2
        // $('#right_div').fadeOut(0);
        // // $("#right_div").css("display", "none");
        // $('#left_div').animateToClass("col-xs-"+String(left_div_width), 500, function(){
        //     // $("#right_div").animate({width: parseInt($("#left_div").parent().css("width"))*(right_div_width/12)}, 200, function(){
        //         $('#right_div').find('.box').slideDown("fast", function(){
        //           $("#right_div").animateToClass('col-xs-'+String(right_div_width), 100, function(){
        //           $('#right_div').fadeIn("fast");
        //         });
        //         });
        //     // });
        // });
    }else{
        $('#right_div').css('display', 'block');
        // $("#right_div").animateToClass('col-xs-'+String(right_div_width));
        // $('#new_pt_role').slideDown();
        $('#right_div').find('.box').slideDown();
    }
}
function hide_right(){
    $('#right_div').slideUp("fast", function(){
        $('#left_div').animateToClass('col-xs-12', 500, function(){
            $("#left_div").find("[hide_column]").fadeIn('fast');
        });
    });
}


function confirmBox(options){
    options = options || {};
    buttons = options.buttons || [
            {text:"确定", id:"btn_sure", action:function(){
                    $("#btn_sure").tLoading();
                    (options.onConfirm)();
                }
            },
            {text:"取消", id:"btn_cancel", action:function(){
                    $("#confirmBox").tClose();
                    if(options.onCancel)(options.onCancel)();
                }
            }
        ];
    var opts = $.extend({
        id: "confirmBox",
        appendTo:"#main",
        buttons: buttons
    }, options);
    $MsgBox(opts).show()
}

function check_response(response){
    if (response.return_code == 0){
        return true;
    }
    if (response.return_code == -402 || response.return_code == -401){
        $("div.modal-dialog").tClose();
      $MsgBox({
        message:response.return_message,
        id: "permission-box",
        appendTo:$("#main"),
        buttons:[
          {text: "确定", action: function(){
            $("#permission-box").tClose();
          }}
        ]
      }).show();
      return false;
    }
    if (response.return_code == -231030){
      $("div.modal-dialog").tClose();
      $MsgBox({
        message:response.return_message,
        id: "permission-box",
        appendTo:$("#main"),
        buttons:[
          {text: "确定", action: function(){
            window.location.reload();
          }}
        ]
      }).show();
      return false;
    }
    else{
      $MsgBox({message:response.return_message, appendTo:$("#main")}).show();
      return false;
    }
}

/**
 * LOAD page
 * 必填参数：dom_container, url
 */
function load_page(dom_container, url){
  console.log("load_page start");
  show_loading();
  console.log($(dom_container));
  console.log(url);
  $(dom_container).load(url, function(response, status, xhr){
    if (status == 'timeout'){
      load_page(dom_container, url);
    }else{
      hide_loading();
      console.log("load_page finish");
    }
  })
}

/**
 *  常用ajax提交表单
 *  必填参数：form, button
 *  选填参数：method, pjax_container, onSuccess, onTimeout
 */
function generate_ajax_post(options){
  options = options || {};
  options = $.extend({pjax_container: true}, options);

  console.log(options)
  var button = options.button || "";
  var form = options.form || "form";
  var url = options.url || $(form).attr("action");
  if (options.form){
    var method = options.method || $(form).attr("method") || "POST";
  }else{
    var method = options.method || "POST";
  }
  console.log("method-->"+method);
  var pjax_container = $chk(options.pjax_container) != false ? true:false;
  console.log("pjax_container: "+pjax_container)
  var headers = options.headers || {};

  if (button){
    $(button).button("loading");
  }
  show_loading();
  var params = options.params || $(form).serialize();
  console.log(params)
  if (params.indexOf("_xsrf") < 0){
    $MsgBox({message: "_xsrf不能为空", appendTo:$("#main")}).show();
    hide_loading();
    $(button).button("reset");
    return false
  }
  $.ajax($.extend({
    url: url,
    type: method,
    dataType: "JSON",
    data: params,
    timeout: 3000,
    headers: headers,
    // beforeSend: function(xhr, settings){
    //   xhr.setRequestHeader("XGET", true);
    // },
    success: function(response){
      hide_loading();
      $(button).button("reset");
        if(pjax_container == true){
          if (check_response(response)){
            $("#pjax-container").html(response.data);
          }
        }
        if (options.onSuccess) { if(check_response(response)){(options.onSuccess)(response);}}
    },
    error: function(xhr, Status){
      if (Status == "timeout"){
        if (options.onTimeout) {(options.onTimeout)();}
      }
    }
  }, options))
}

function do_flip_card(options){
  // websocket.send("hello");
  options = options || {};
  var card = options.card_id || '.card';
  if($(card).hasClass("flipped")){
    $(card).removeClass("flipped");
  }else{
    $(card).addClass("flipped");
  }
}

function CheckBoxListener(){
  var elemToCheck = $("input[name=env_internet_ip_id]").parent().bind("propertychange", function(){
    console.log($(this))
  })
}

function refresh_captcha(){
  $("#captcha").val("");
  $('#captcha-img').attr("src", "{{ reverse_url('captcha') }}?"+Math.random());
}


/**
 * 初始化提示框
 */
// $(function(){
//   $("body").find('[data-toggle="popover"]').each(function(){
//       $(this).click(function(e){
//           // $('.popover').remove();
//           $('body').find('[data-toggle="popover"]').popover('hide');
//           e.preventDefault();
//           return false;
//       });
//       $(this).popover({
//           animation: true,
//           trigger : 'click',
//           placement: 'auto bottom',
//           html: true
//       });
//   });
//   $("body").click(function(){
//       $('body').find('[data-toggle="popover"]').popover('hide');
//   });
// });
</script>
{% include "admin/base/scripts/ws_pubsub.html" %}
{% include "admin/base/scripts/pro_table_do_confirm.html" %}
{% include "admin/base/scripts/login.html" %}
