
{% import "admin/base/base_macros.html" as base %}
        <p class="login-box-msg"></p>
        <form id="login_form" action="{{ reverse_url('login') }}" method="post" onsubmit="return check_form()">
          <p class="login-box-msg">登录</p>
          {{ handler.xsrf_form_html() }}
          {% set next = handler.args.get('next', '') %}
          {% if "logout" in next %}
          {% set next = reverse_url('index') %}
          {% endif %}
          {% set username = handler.args.get('username', '') %}
          <input type="hidden" name="next" value="{{ next }}">
          <div class="form-group has-feedback">
            <input type="username" name="username" class="form-control" placeholder="username" value="{{ handler.session.get('post_username', '')}}">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          {% if result and result.return_code|int in [ERR.USERNAME_EMPTY_ERR, ERR.USERNAME_ERR] %}
              <p class="text-red">{{ result.return_message }}</p>
          {% endif %}
          <div class="form-group has-feedback">
            <input type="password" id="password" class="form-control" placeholder="password">
            <input type="hidden" name="password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          {% if result and result.return_code|int in [ERR.PASSWORD_EMPTY_ERR, ERR.PASSWORD_ERR] %}
              <p class="text-red">{{ result.return_message }}</p>
          {% endif %}
          <div class="form-group has-feedback">
            <div class="input-group">
              <input type="text" id="captcha" name="captcha" class="form-control" placeholder="验证码" value="">
              <img id="captcha-img" onclick="refresh_captcha();" class="captcha-img" src="{{ reverse_url('captcha') }}" />
              <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
          </div>
          {% if result %}
            {% if result.return_code|int in [ERR.CAPTCHA_ERR, ERR.CAPTCHA_EMPTY_ERR, ERR.CAPTCHA_EXPIRED_ERR] %}
              <p class="text-red">{{ result.return_message }}</p>
            {% endif %}
          {% endif %}
          <div class="row">
            <!--div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
            </div--><!-- /.col -->
            <div class="col-xs-offset-4 col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
            </div><!-- /.col -->
          </div>
        <!-- <a href="#">I forgot my password</a><br> -->
        <a data-pjax href="{{ reverse_url('register') }}" class="text-center">注册新用户</a>
        </form>

    <script type="text/javascript">
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
      function check_form(){
        var password = $('#password').val();
        $('input[name=password]').val(MD5(password));
      }
    </script>
