  <p class="login-box-msg"></p>
  <form id="register_form" action="{{ reverse_url('register') }}" method="post">
    <p class="login-box-msg">注册新用户</p>
    {{ handler.xsrf_form_html() }}
    <div class="form-group has-feedback">
      <input type="text" id="email" name="email" class="form-control" placeholder="邮箱" onblur="generate_username();" value="{{ handler.args.get('email', '') }}">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    {% if result %}
      {% if result.return_code|int in [ERR.EMAIL_ERR, ERR.EMAIL_EMPTY_ERR, ERR.EMAIL_DUPLICATE_ERR, ERR.EMAIL_FORMAT_ERR] %}
        <p class="text-red">{{ result.return_message }}</p>
      {% endif %}
    {% endif %}
    <div class="form-group has-feedback">
      <input type="text" id="username" name="username" class="form-control" placeholder="用户名" value="{{ handler.args.get('username', '') }}">
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    {% if result %}
      {% if result.return_code|int in [ERR.USERNAME_ERR, ERR.USERNAME_EMPTY_ERR, ERR.USERNAME_DUPLICATE_ERR] %}
        <p class="text-red">{{ result.return_message }}</p>
      {% endif %}
    {% endif %}
    <div class="form-group has-feedback">
      <input type="text" class="form-control" name="mobile" placeholder="常用手机号" data-inputmask="'mask': ['999 9999 9999']" data-mask value="{{ handler.args.get('mobile', '')}}">
      <span class="glyphicon glyphicon-phone form-control-feedback"></span>
    </div>
    {% if result %}
      {% if result.return_code|int in [ERR.MOBILE_ERR, ERR.MOBILE_EMPTY_ERR, ERR.MOBILE_DUPLICATE_ERR, ERR.MOBILE_FORMAT_ERR] %}
        <p class="text-red">{{ result.return_message }}</p>
      {% endif %}
    {% endif %}
    <div class="form-group has-feedback">
      <input type="password" id="password" class="form-control" placeholder="密码" value="">
      <input type="hidden" name="password" class="form-control" placeholder="密码" value="">
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    {% if result %}
      {% if result.return_code|int in [ERR.PASSWORD_ERR, ERR.PASSWORD_EMPTY_ERR] %}
        <p class="text-red">{{ result.return_message }}</p>
      {% endif %}
    {% endif %}
    <div class="form-group has-feedback">
      <input type="password" id="repeat_password" class="form-control" placeholder="重复密码" value="">
      <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
    </div>
    <p class="text-red" for="repeat_password"></p>
    <div class="form-group has-feedback">
      <div class="input-group">
        <input type="text" id="captcha" name="captcha" class="form-control" placeholder="验证码" value="">
        <img id="captcha-img" onclick="refresh_captcha();" class="captcha-img" src="{{ reverse_url('captcha') }}" />
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
    </div>
    {% if result %}
      {% if result.return_code|int in [ERR.CAPTCHA_ERR, ERR.CAPTCHA_EMPTY_ERR, ERR.CAPTCHA_EXPIRED_ERR] %}
        <p class="text-red">{{ result.return_message }}</p>
      {% endif %}
    {% endif %}
    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox icheck">
          <label>
            <input type="checkbox" id="agree" name="agree"{% if handler.args.get('agree', 0)|int == 1 %} checked="checked" {% endif %}> 同意<a href="#">协议</a>
          </label>
          <p class="text-red" for="agree"></p>
        </div>
      </div><!-- /.col -->
      <div class="col-xs-4">
        <button type="button" id="register_form_btn" onclick="do_register()" class="btn btn-primary btn-block btn-flat">注册</button>
      </div><!-- /.col -->
    </div>
  <a data-pjax href="{{ reverse_url('login') }}" class="text-center">已有帐号，直接登录</a>
  </form>
<script type="text/javascript">
// $(function(){
//   $("#email").inputmask('Regex', { regex: "[a-zA-Z0-9._%-]+@[a-zA-Z0-9-]+\\.[a-zA-Z]{2,4}" });
// });
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });

function generate_username(){
  var email = $("#email").val()
  if (email.indexOf("@") > 0){
    var username = email.split("@")[0];
  }else{
    var username = email;
  }
  $("#username").val(username);
}

function check_form(){
  $("p.text-red").text("");
  var checked = $("#agree").prop("checked")==true?"1":"0";
  $("#agree").val(checked);
  if (parseInt(checked) == 0){
    $("p[for=agree]").text("尚未阅读协议？");
    return false;
  }
  var password = $("#password").val();
  var repeat_password = $("#repeat_password").val();
  // if (password == ""){
  //   $("p[for=repeat_password]").text("密码不能为空");
  //   return false;
  // }
  if (password != repeat_password){
    $("p[for=repeat_password]").text("重复密码不一致");
    return false;
  }
  var password = $('#password').val();
  if (password == ""){
    $('input[name=password]').val("");
  }else{
    $('input[name=password]').val(MD5(password));
  }
  return true;
}


</script>
